footer {
	margin-top: 60px;
	padding: 30px 0;
}
footer a {
	color: var(--theme-black) !important;
	text-decoration: none !important;
}
footer .row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
footer .row > div{
	display: flex;
	flex-direction: column;
}
footer .row .logo {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
footer .logo img {
	max-height: 45px;
	max-width: 100%;
}
footer .row .list a:not(:last-child) {
	margin-bottom: 20px;
}
@media screen and (max-width: 991px) {
	footer {
		padding: 30px 0 20px;
	}
	footer .row .logo {
		justify-content: center;
		align-items: center;
		margin-bottom: 30px;
	}
	footer .logo img {
		max-height: 34px;
		max-width: 100%;
	}
	footer .row > div{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	footer .row .list a:not(:last-child) {
		margin-bottom: 10px;
	}
	footer .row .list a {
		margin-bottom: 10px;
	}
}
