.cards-grp {

} 
.cards-grp--dashbosrd-stats {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-gap: 1rem;
}
.cards-grp .card {
    padding: 1rem;
    border-radius: 0.35rem;
}
.cards-grp .card p:last-child {
    margin-bottom: 0;
}
