footer {
	margin-top: 60px;
	padding: 30px 0;
}
footer a {
	color: var(--theme-black) !important;
	text-decoration: none !important;
}
footer .row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
footer .row > div{
	display: flex;
	flex-direction: column;
}
footer .row .logo {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
footer .logo img {
	max-height: 45px;
	max-width: 100%;
}
footer .row .list a:not(:last-child) {
	margin-bottom: 20px;
}
@media screen and (max-width: 991px) {
	footer {
		padding: 30px 0 20px;
	}
	footer .row .logo {
		justify-content: center;
		align-items: center;
		margin-bottom: 30px;
	}
	footer .logo img {
		max-height: 38px;
		max-width: 100%;
	}
	footer .row > div{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	footer .row .list a:not(:last-child) {
		margin-bottom: 10px;
	}
	footer .row .list a {
		margin-bottom: 10px;
	}
}


footer {
	margin-top: 60px;
	padding: 30px 0;
}
footer a {
	color: var(--theme-black) !important;
	text-decoration: none !important;
}
footer .row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
footer .row > div{
	display: flex;
	flex-direction: column;
}
footer .row .logo {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
footer .logo img {
	max-height: 45px;
	max-width: 100%;
}
footer .row .list a:not(:last-child) {
	margin-bottom: 20px;
}
footer .row .list span {
	display: block;
	margin-bottom: 6px;
	color: #6D6D77;
	font-size: calc(1rem - 2px);
}
footer .disclaimer {
	text-align: center;
	line-height: 2.5;
	margin: 80px auto 0;
}
footer .disclaimer .small {
	font-size: calc(1rem - 5px);
}

footer .copy {
	margin-top: 20px;
	text-align: center;
}
@media screen and (max-width: 991px) {
	footer {
		padding: 30px 0 20px;
	}
	footer .row .logo {
		justify-content: center;
		align-items: center;
		margin-bottom: 30px;
	}
	footer .logo img {
		max-height: 38px;
		max-width: 100%;
	}
	footer .row > div{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	footer .row .list a:not(:last-child) {
		margin-bottom: 10px;
	}
	footer .row .list a {
		margin-bottom: 10px;
	}
	footer .row .list {
		margin-bottom: 20px;
	}

	footer .disclaimer {
		margin: 0px auto 0;
	}
	footer .disclaimer .small {
		font-size: calc(1rem - 5px);
		text-align: justify;
	}
}
