html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background: #fff;
	line-height: 1;
}
body * {
    box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


:root {
	--theme-black: rgba(10,10,10,1);
	--theme-white: rgba(255,255,255,1);
	--theme-primary: #F00;
	--theme-secondary:  #000;
	--theme-green: rgba(21,64,50,1);
}
html {
	font-size: 16px;
}
@media screen and (max-width: 991px) {
    html {
        font-size: 16px;
    }
}
body {
	font-family: 'Montserrat', sans-serif;
	font-size: inherit;
	font-weight: 400;
	position: relative;
	line-height: 1.4;
	color: var(--theme-white);
}
body * {
	line-height: inherit;
	box-sizing: border-box;
	outline: none;
}
strong	{
	font-weight: 700;
}
.screen {
	padding: 2rem 0;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.primary {
	color: var(--theme-primary);
}
.question-title {
	font-size: 22px;
	line-height: 43px;
	margin-bottom: 1.5rem;
}

.screen > .container {
	position: relative;
}
.screen .img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-bottom: -3.5rem;
	z-index: 2;
}
.screen .img img {
	width: 349px;
	margin: 0 auto;
	display: block;
}
.graybox {
	min-height: 440px;
	position: relative;
	z-index: 1;
	background: #E7E7E7;
	border-radius: 2rem;
	padding: 4.5rem 2rem 2rem 2rem;
	color: var(--theme-black);
	text-align: center;
	overflow: hidden;
}
.graybox * {
	z-index: 2;
}

.container {
	width: calc(100% - 24px);
	max-width: 1080px;
	margin: 0 auto;
}

.question .button {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.question .button.button--column {
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;

    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.question .button.button--column button {
    width: 100%;
}

.graybox-progress {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
	margin-bottom: 3rem;
}
.graybox-progress li {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	border-radius: 1000px;
	border: 2px solid var(--theme-black);
	background: rgba(255,255,255,0);
	color: var(--theme-black);
	font-size: 14px;
	position: relative;
	transition: 0.3s;
}
.graybox-progress li.checked {
	background:  rgba(255,255,255,0);
}
.graybox-progress li.green {
	background: var(--theme-primary);
	border: 2px solid var(--theme-primary);
}
.graybox-progress li:not(:last-child) {
	margin-right: 20px;
}
.graybox-progress li:not(:last-child):after {
	content: "";
	position: absolute;
	display: block;
	right: -22px;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 2px;
	background: var(--theme-black);
	opacity: 1;
}
.graybox-progress li:not(:last-child).green:after {
	background: var(--theme-primary);
}
.graybox-progress li .icon  {
	display: none;
}
.graybox-progress li.checked .icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	color: var(--theme-primary);
}
.graybox-progress li.green .icon {
	color: var(--theme-white);
}
.graybox-progress li.checked .number {
	display: none;
}

h1 {
	font-size: 36px;
	line-height: 46px;
}
h3 {
	font-size: 30px;
	line-height: 46px;
}

.graybox-top h1 {
	margin-bottom: 1rem;
}
.graybox-top h3 {
	margin-bottom: 2rem;
}
.graybox-top ul li:not(:last-child) {
	margin-bottom: 0.5rem;
}
.graybox-top .step-button {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.question .button > button:not(:last-child) {
	margin-right: 1rem;
}
.question .button.button--column > button:not(:last-child) {
	margin-right: 0rem;
    margin-bottom: 1rem;
}


.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: var(--theme-white);
	height: 50px;
	min-width: 220px;
	border: 0; 
	border-radius: 1000px;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	padding: 10px 50px;
	text-decoration: none !important;
	cursor: pointer;
	box-shadow:  0 0 0 0 rgba(0,0,0,0);
	transition: 0.3s;
	line-height: 1;
}
.btn span {
	font-weight: 300;
	margin-top: 1px;
	font-size: calc(1rem - 2px);
	display: block;
	width: 100%;
	margin-bottom: 0;
}
	
.btn.btn-primary {
	/*background: var(--theme-primary); 
	color: rgba(102,64,58,1);*/

	background: var(--theme-secondary); 
	color: var(--theme-white);
}
.btn.btn-secondary {
	background: var(--theme-secondary); 
	color: var(--theme-white);
}
.btn.btn-primary:hover,
.btn.btn-secondary:hover  {
	background: var(--theme-secondary); 
	color: var(--theme-white);
	box-shadow:  0 0 2px 4px rgba(0,0,0,0.25);
}
.btn.btn-fat {
	font-weight: 900;
	height: 65px;
	font-size: 22px;
}
.graybox-bottom {
	position: relative;
}
.question {
	transition: 0.3s;
}
.question , .graybox-top .step {
	display: none;
}
.question.question-1 , .graybox-top .step.step-1 {
	display: block;
}
.nowrap {
	white-space: nowrap;
}
.step ul {
	max-width: 450px;
	margin-left: auto;
	margin-right: auto;
}

.graybox-figure {
	position: absolute;
	z-index: 2;
	left: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateX(0%) translateY(0%);
	border-bottom-left-radius: 2rem;
	overflow: hidden;
}


footer {
	padding: 4rem 0 1rem;
	font-size: 10px;
	line-height: 15px;
    color: var(--theme-black);
}
footer .rules {
	text-align: center;
	margin-top: 1.5rem;
}
footer .rules a {
	color: var(--theme-black);
	text-decoration: none;
}

@media screen and (max-width: 1200px) {
	.graybox-figure {
		z-index: -1;
		display: none;
	}
}
@media screen and (max-width: 991px) {
.screen {
	padding: 0.5rem 0;
}
.screen .img img {
	width: 188px;
	max-width: 100%;
}
.graybox {
	padding: 3.75rem 1.25rem 1.25rem 1.25rem;
	min-height: 590px;
}
h1 {
	font-size: 30px;
	line-height: 32px;
}
h3 {
	font-size: 18px;
	line-height: 25px;
}
.btn {
    padding: 10px 20px;
}
.question-title {
	font-size: 20px;
	line-height: 26px;
}
.question .button {
	flex-direction: column;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}
.question .button > button {
	width: 100%;
}
.question .button > button:not(:last-child) {
	margin-right: 0;
	margin-bottom: 0.75rem;
}
.question .button.button--column > button:not(:last-child) {
	margin-bottom: 0.75rem;
}
.graybox-progress {
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
}
.graybox-top .step-button a {
		width: 100%;
		max-width: 400px;
	}
}

@media screen and (max-width: 550px) {
	.title strong.primary.nowrap {
		display: block;
		width: 100%;
	}
	
}

a.btn-fat {
	transition: 0.3s;
	position: relative;
	overflow: hidden;
}
a.btn-fat:after {
	content: "";
    display: block;
    width: 1rem;
    height: 100%;
    background: rgba(255,255,255,1);
    opacity: .5;
    position: absolute;
    left: -100%;
    top: 0;
    z-index: 1;
    transform: rotate(45deg) scale(2);
    animation: 3s linear 0s infinite normal animation-blink;
}
@keyframes animation-blink {
    0% {
        left: -100%;
    }
    100%,
    20% {
        left: 100%;
        margin-left: 5rem;
    }
}