/* styles write here */
body {
	background-color: #eeeeee;
    color: #333;
    font-family: "Roboto",Arial,sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.4;
    -webkit-tap-highlight-color: transparent;
    letter-spacing: 0.1px;
}
main {
    position: relative;
}


/* header style */
header {
	padding: 10px 30px;
}
.header_mobile{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--w);
    width: 100%;
    height: 49px;
    z-index: 100;
    display: none;
}
header .logo {
	padding-right: 30px;
}
header .logo img {
	width: 183px;
	height: auto;
}
.header_search input {
	height: 30px;
	background: #fff;
    background-clip: padding-box;
    border: 1px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    border-right-width: 0;
    height: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 592px;
    padding: 0 10px;
    color: #222;
    font: 16px arial,sans-serif;
}
.header_search input:hover {
	border: 1px solid rgba(0,0,0,.35) !important;
	border-color: rgba(0,0,0,.35) !important;
}
.header_search input:focus {
	border: 1px solid #4285f4 !important;
	border-color: #4285f4 !important;
}
.header_search input::placeholder {
	color: #888;
	font-weight: 400;
}
.header_search button {
    border: 1px solid transparent;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    height: 30px;
    margin: 0;
    outline: none;
    padding: 0 0;
    width: 60px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #4285f4;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    background: linear-gradient(top,#4387fd,#4683ea);
}
.header_search button span {
	background-image: url(https://ssl.gstatic.com/gb/images/v1_99b885bf.png);
    -webkit-background-size: 99px 2800px;
    background-size: 99px 2800px;
    background-position: 0 -2039px;
    display: inline-block;
    margin: -1px;
    height: 30px;
    width: 30px;
}

.header_login a {
    color: #000;
    background-position: -69px -828px;
    background-image: url(../img/sprite.png);
    -webkit-background-size: 99px 2800px;
    background-size: 99px 2800px;
    display: inline-block;
    outline: none;
    vertical-align: middle;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    color: #000;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px;
}
.header_login div {
	height: 30px;
	width: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header_login div *{
	height: 30px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header_login div button {
    border: 1px solid transparent;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    height: 30px;
    outline: none;
    width: 60px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #4285f4;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    background: linear-gradient(top,#4387fd,#4683ea);
    color: var(--w);
    border-radius: 3px;
}
.header_login div *{
	position: absolute;
}
.header_login div img{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: none;
}
.header_login div i {
	width: 30px;
	height: 30px;
	background: var(--r);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
	color: var(--w);
	font-size: 14px;
	cursor: pointer;
}








/* nav */
nav {
	position: sticky;
	background: var(--w);
	width: 100%;
	height: 48px;
}
nav.sticky {
	position: fixed;
	top: 0;
	z-index: 100;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.nav_menu {
	width: 200px;
}
.nav_menu .nav_menu_current_category {
	height: 48px;
	padding-left: 26px;
	background: #689f38;
	color: var(--w);
	font-size: 18px;
    font-weight: 300;
}
.nav_menu .nav_menu_current_category span {
	display: block;
    height: 24px;
    width: 24px;
    background-image: url(../img/app.png);
    -webkit-background-size: contain;
    background-size: contain;
    margin-right: 20px;
}
.nav_menu {
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.1);
    box-shadow: 0 1px 6px rgba(0,0,0,0.1);
    -webkit-user-select: none;
    background-color: rgba(245,245,245,0.95);
    float: left;
    padding: 0;
    width: 200px;
    z-index: 984;
}
.nav_menu_white_container_left_arrow {
	width: 24px;
	background: var(--w);
}
.nav_menu_white_container_left_arrow a {
	height: 24px;
	width: 24px;
}
.nav_menu_white_container_left_arrow a span {
    background-image: url(../img/arrowleft.png);
    height: 24px;
    width: 24px;
}
.nav_menu_white_container_menu {
}
.nav_menu_white_container_menu ul li a {
	height: 35px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: #888;
	padding: 0 20px;
	font-weight: 300;
}
.nav_menu_white_container_menu ul li a:hover {
	background: #dfdfdf;
}
.nav_menu_white_container_menu ul li a.nav_menu_white_container_menu_current{
	color: #8d9d29;
	font-weight: 500;
}

.nav_menu_white_container_menu ul:first-child li a {
	font-size: 18px;
}
.nav_menu_white_container_menu ul:last-child li a {
	height: 30px;
	font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #333;
}
.nav_menu_white_container {
	border-bottom: 1px solid #ddd;
}
.nav_menu_white_container_menu {
	width: 100%;
}
.nav_menu_white_container_menu > ul {
	width: 100%;
	padding: 10px 0 10px 0;
}
.nav_menu_white_container_menu .separator {
	background: #ccc;
	height: 1px;
	width: calc(100% - 40px);
	margin: 0 auto;
}
.nav_menu_categories ul {
	padding: 10px 0;
	background: rgba(238,238,238,0.95);
}
.nav_menu_categories ul li a {
	height: 30px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 24px;
	font-weight: 400;
	font-size: 14px;
	color: #555;
}
.nav_menu_categories ul li a:hover {
	background: #dfdfdf;
}

.nav_navigation {
	width: calc(100% - 200px);
	padding: 0 30px;
}
.nav_navigation_category {
	height: 48px;
}
.nav_navigation_category ul {

}
.nav_navigation_category ul li a {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 48px;	
    color: #737373;
    font-weight: 400;
    padding: 0 14px;
    width: 100%;
    font-size: 14px;
}
.nav_navigation_category ul li a:hover {
	background: #f3f3f3;
}
.nav_navigation_category ul li.separator {
	height: 32px;
	background: #dfdfdf;
	width: 1px;
	margin: 0 5px;
	padding: 0;
}
.nav_navigation_category ul li:first-child a span{
	background-image: url(../img/arrowdown.png);
    background-position-y: center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-left: 4px;
}
.nav_navigation_button {
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav_navigation_button a {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
    padding: 0;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px;
}
.nav_navigation_button a:first-child span {
    background-image: url(../img/ask.png);
    -webkit-background-size: contain;
    background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
    background-position-y: center;
    background-repeat: no-repeat;
    height: 19px;
    width: 19px;
    margin-top: -2px;
}
.nav_navigation_button a:last-child span {
 	background-image: url(../img/settings.png);
    -webkit-background-size: contain;
    background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
    background-position-y: center;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}
.nav_navigation_button a:last-child {
	padding: 0 20px;
}





main .container {
	position: relative;
	margin-left: 200px;
	width: calc( 100% - 200px );
}
main .container .wrapper aside {
	width: 330px;
	padding-top: 50px;
}

main .container .wrapper aside .aside_title {
    margin-bottom: 20px;
}
main .container .wrapper aside .aside_title_2 {
	margin-top: 40px;
}
main .container .wrapper aside .aside_title a {
	-webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.05);
    box-shadow: 0 1px 0 rgba(0,0,0,0.05);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .2s;
    transition: all .2s;
    -webkit-user-select: none;
    background-color: #fff;
    border-radius: 3px;
    color: var(--w);
    cursor: pointer;
    display: inline-block;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    height: 30px;
    line-height: 30px;
    min-width: 40px;
    padding: 0 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    background: #689f38;
}
main .container .wrapper aside .aside_title a:hover {
	background-color: #8bc34a;
    border-bottom: 2px solid #689f38;
}
main .container .wrapper aside .aside_title h5 {
    font-size: 20px;
    line-height: 28px;
    height: 30px;
    font-weight: 400;
}


main .container .wrapper aside .aside_recomendation_block {
	background: var(--w);
	margin-top: 10px;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10), 0 2px 1px -1px rgba(0,0,0,0.08), 0 1px 3px 0 rgba(0,0,0,0.14);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10), 0 2px 1px -1px rgba(0,0,0,0.08), 0 1px 3px 0 rgba(0,0,0,0.14);
    background: #fff;
}
main .container .wrapper aside .aside_recomendation_block .aside_recomendation_block_img {
	position: relative;
}
main .container .wrapper aside .aside_recomendation_block .aside_recomendation_block_img:after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	background: rgba(56,56,56,0);
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
main .container .wrapper aside .aside_recomendation_block .aside_recomendation_block_img:hover:after{
	background: rgba(56,56,56,0.5);
}
main .container .wrapper aside .aside_recomendation_block .aside_recomendation_block_img img{
	width: 160px;
	height: auto;
	padding: 12px;
	margin-bottom: -5px;
}
main .container .wrapper aside .aside_recomendation_block .aside_recomendation_block_text {
	padding: 10px;
}
main .container .wrapper aside .aside_recomendation_block .aside_recomendation_block_text_title h3 {
    font-size: 20px;
    position: relative;
    font-weight: 300;
    line-height: 24px;
    max-height: 24px;
    overflow: hidden;
    position: relative;
    word-break: break-all;
    margin-bottom: 2px;
}
main .container .wrapper aside .aside_recomendation_block .aside_recomendation_block_text_title h3 > div{
	background-image: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(255,255,255,0)),color-stop(100%,rgba(255,255,255,1)));
    background-image: -webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));
    background: linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,1));
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 24px;
    z-index: 1;
}
main .container .wrapper aside .aside_recomendation_block .aside_recomendation_block_text_title h5 {
	font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    max-height: 24px;
    overflow: hidden;
    position: relative;
    word-break: break-all
}
main .container .wrapper aside .aside_recomendation_block .aside_recomendation_block_text p {
	color: #333;
	font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    max-height: 50px;
    overflow: hidden;
    padding-top: 5px;
    margin-top: 5px;
    position: relative;
    display: block;
}
main .container .wrapper aside .aside_recomendation_block .aside_recomendation_block_text p > span{
	background-image: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(255,255,255,0)),color-stop(100%,rgba(255,255,255,1)));
    background-image: -webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));
    background: linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,1));
    position: absolute;
    right: 0;
    top: calc(100% - 15px);
    width: 50px;
    height: 15px;
    z-index: 1;
}
main .container .wrapper aside .aside_recomendation_block ul{
	margin-top: 24px;
}
main .container .wrapper aside .aside_recomendation_block ul li{
	margin-right: 3px;
}
main .container .wrapper aside .aside_recomendation_block ul li img{
	width: 10px;
}





/* main info */
main .container .wrapper {
	margin: 40px auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}
main .container .wrapper section {
	width: calc(100% - 370px);
	background: var(--w);
	padding: 20px;
    -webkit-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.1), 0 3px 3px -2px rgba(0,0,0,0.08), 0 1px 8px 0 rgba(0,0,0,0.16);
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.1), 0 3px 3px -2px rgba(0,0,0,0.08), 0 1px 8px 0 rgba(0,0,0,0.16);
    border-radius: 2px;
}
.top > img {
	width: 180px;
	height: auto;
}
.top_description {
	width: calc(100% - 200px);
}
.top_description h1 {
    color: #212121;
    font-size: 30px;
    font-weight: 300;
    line-height: 35px;
    margin-bottom: 10px;
    display: block;
}
.top_rating_left li a {
	color: #8bc34a;
	margin-right: 15px;
}
.top_rating_left li.age_restriction {
	display: none;
}
.top_rating_left li a:hover {
	text-decoration: underline;
}
.top_rating_right ul img {
	width: 12px;
	margin-right: 3px;
}
.top_rating_right .download_value {
	margin-left: 3px;
}
.top_rating_right .download_value img {
	width: 16px;
	height: auto;
	margin-right: 0;
	margin-left: 3px;
}

.age_restriction img{
	width: 15px;
	height: 15px;
	margin-top: 5px;
}
.can_i_use {
	margin-top: 20px;
}
.can_i_use img {
	width: 16px;
	height: 16px;
	margin-top: -2px;
}

.app_rules {
	margin-top: 15px;
}
.app_rules a {
	font-weight: 400;
	color: #8bc34a;
	text-decoration: underline;
}
.add_to_wallet {
	margin-top: 15px;
	color: #33691e;
	font-weight: 500;
}
.add_to_wallet_right a {
	-webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.05);
    box-shadow: 0 1px 0 rgba(0,0,0,0.05);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .2s;
    transition: all .2s;
    -webkit-user-select: none;
    background-color: #fff;
    border-radius: 3px;
    color: var(--w);
    cursor: pointer;
    display: inline-block;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    height: 36px;
    line-height: 36px;
    min-width: 40px;
    padding: 0 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    background: #689f38;
}
.add_to_wallet_right a:hover {
	background-color: #8bc34a;
    border-bottom: 2px solid #689f38;
}

.slider {
	position: relative;
	width: 100%;
	margin: 35px 0;
}

.app_description_text {
	position: relative;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.app_description_text.hidden p:nth-child(n+3) {
	display: none !important;
}
.app_description_text.open p:nth-child(n+3) {
	display: block !important;
}
.app_description_text > div {
	height: 40px;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,0)),color-stop(100%,rgba(255,255,255,1)));
    background-image: -webkit-linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,1));
    background: linear-gradient(to bottom,rgba(255,255,255,0),rgba(255,255,255,1));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#00ffffff',EndColorStr='#ffffff');
}

.app_description p {
	padding-bottom: 10px;
    font-size: 14px;
    line-height: 24px;
    color: #333;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
.app_description_button {
	padding-top: 10px;
}
.app_description_button button {
    -webkit-user-select: none;
    -webkit-transition: background .2s .1s;
    transition: background .2s .1s;
    border: 0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    position: relative;
    text-align: center;
    color: #33691e;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.app_reviews {
	border-top: 1px solid #ccc;
	padding: 30px;
}
.app_reviews_title {
	margin-bottom: 15px;
}
.app_reviews_title img{
	margin-top: -3px;
	margin-right: 3px;
}
.app_reviews_title h5 {
	color: #212121;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
}
.app_reviews_title div a {
    font-size: 12px;
    font-weight: 300;
    color: #333;
}
.app_reviews_title div a:hover {
	text-decoration: underline;
}

.app_review_rating_left {
	width: 160px;
	text-align: center;
}
.app_review_rating_left .big_number {
    color: #333;
    font-size: 64px;
    font-weight: 100;
    line-height: 64px;
    margin-bottom: 5px;
}
.app_review_rating_left .big_star {
	width: 100%;
	margin-bottom: 10px;
}
.app_review_rating_left .download_total img{
	width: 20px;
}
.app_review_rating_left .download_total{
	color: #616161;	
}
.app_review_rating_right{
	width: calc(100% - 180px);
}
.app_review_rating_right ul:first-child {
	width: 20px;
}
.app_review_rating_right ul:first-child li {
	text-align: center;
	height: 20px;
	margin-bottom: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
} 
.app_review_rating_right ul:last-child{
	width: calc(100% - 20px);
}
.app_review_rating_right ul:last-child li{
	width: 100%;
	height: 20px;
	margin-bottom: 4px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.app_review_rating_right ul:last-child li span{
    opacity: .8;
}
.app_review_rating_right ul:last-child li:nth-child(1) span {
	background: #57bb8a;
	width: 80%;
	height: 20px;
}
.app_review_rating_right ul:last-child li:nth-child(2) span {
	background: #9ace6a;
	width: 15%;
	height: 20px;
}
.app_review_rating_right ul:last-child li:nth-child(3) span {
	background: #ffcf02;
	width: 2%;
	height: 20px;
}
.app_review_rating_right ul:last-child li:nth-child(4) span {
	background: #ff9f02;
	width: 1%;
	height: 20px;
}
.app_review_rating_right ul:last-child li:nth-child(5) span {
	background: #ff6f31;
	width: 2%;
	height: 20px;
}

/* comment */
.comments {
	padding: 30px 30px 0px 30px;
	overflow:hidden;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.comments.hidden .comment:nth-child(n+5) {
	display: none;
}
.comments.open .comment:nth-child(n+5) {
	display: flex;
}
.comment {
	padding-bottom: 10px;
}
.comment_ava {
	width: 48px;
	height: 48px;
}
.comment_ava img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.comment_text {
	width: calc(100% - 58px);
}
.comment_text > div:first-child {
}
.comment_text_top_left {
}
.comment_text_top_left .comment_text_name h6 {
	font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #333;
    padding-bottom: 5px;
}
.comment_text_top_left .comment_text_rate {
	margin-bottom: 8px;
}
.comment_text_top_left .comment_text_rate data {
	color: #aaa;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    vertical-align: middle;
    white-space: nowrap;
}
.comment_text_top_left .comment_text_rate ul {
	margin-right: 5px;
}
.comment_text_top_left .comment_text_rate ul li img {
	width: 10px;
}
.comment_text_top_right{
}
.comment_text_top_right_like {
	padding: 0;
	margin-right: 15px;
}
.comment_text_top_right_like span{
	width: 100%;
	display: block;
}
.comment_text_top_right .comment_text_top_right_like img {
	width: 24px;
	margin-bottom: 2px;
}
.comment_text_top_right .comment_text_top_right_like {
	color: #757575;
    font-size: 10px;
}
.comment_text_top_right .comment_text_top_right_menu img {
	height: 18px;
}
.comment .comment_text_review p{
    font-size: 14px;
    line-height: 24px;
    color: #333;
}
.comments > p {
	width: 100%;
}
.comments_btn {
	padding: 10px 0 20px 0;
    border-bottom: 1px solid #ccc;
}
.comments_btn button{
    -webkit-user-select: none;
    -webkit-transition: background .2s .1s;
    transition: background .2s .1s;
    border: 0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    overflow: hidden;
    position: relative;
    text-align: center;
    color: #33691e;
    margin-bottom: 0px;
    text-transform: uppercase;
}


.whats_new {
	padding: 25px 30px 20px 30px;
    border-bottom: 1px solid #ccc;
}
.whats_new h6 {
    color: #212121;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
.whats_new > p {
    display: block;
    font-size: 14px;
    line-height: 24px;
    color: #333;
}
.additional_information {
	padding: 20px 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px;
}

.additional_information_title {
	color: #212121;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.additional_information > div > ul {
	width: calc(100% / 3);
	margin-bottom: 20px;
}
.additional_information > div > ul > li:first-child {
    font-weight: 500;
    margin-bottom: 5px;
}
.additional_information > div > ul > li {
	font-weight: 300;
    color: #333;
    font-size: 14px;
}

.additional_information > div > ul > li > a {
    color: #689b38;
    font-weight: 400;
}


/* footer */
footer {
	margin-bottom: 30px;
	width: calc(100% - 200px);
    color: #555;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.4;
}
footer p,
footer a {
	display: inline-block;
}
footer a {
    font-weight: 400;
	color: #15c;
}
footer a:hover {
	text-decoration: underline;
}


/* slider */
.slider {
	width: calc(100% + 40px);
	margin-left: -20px;
	display: flex;
	overflow:hidden;

}
.slick_slider img {	
	margin-right: 10px !important;
	width: 186px;
}
.slick-track {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}

.slick_slider {
	display: inline-block;
	width: calc(100% - 60px); 
}
.slick-arrow {
	width: 30px;
	height: auto;
	padding: 0;
	overflow:hidden;
}
.slick-arrow img {
	width: 30px;
}







/* lg */
@media screen and (min-width: 1040px) and (max-width: 1199px) {
.header_search input {
    width: 315px;
}
main .container .wrapper section {
	width: 100%;
	padding: 20px;
}
.aside_recomendation {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
main .container .wrapper aside {
	width: 100%;
}
main .container .wrapper aside .aside_recomendation_block {
	width: 160px;
	flex-wrap: wrap;
	margin-right: 10px;
}
main .container .wrapper aside .aside_recomendation_block:nth-child(n+4){
	display: none;
}
main .container .wrapper aside .aside_recomendation_block .aside_recomendation_block_text p{
	display: none;
}
}

.slider_just_mobile {
    display: none;
}

/* @media screen and (max-width: 1039px){
    header {
        display: none !important;
    }
    .header_mobile{
        display: flex;
    }
    .mobile_header_menu,
    .mobile_header_search {
        width: 30px;
        height: 49px;
    }
    .mobile_header_menu img,
    .mobile_header_search img {
        width: 24px;
        height: 24px;
        margin-top: 3px;
    }
    .mibile_header_logo {
        width: 160px;
        height: 49px;
    }
    .mibile_header_logo img {
        width: 100%;
        margin-top: 3px;
        height: auto;
    }
    nav {
        display: none !important;
    }
    main .container .wrapper {
        margin: 0 auto;
        width: 100% !important;
        max-width: 100% !important;
        padding-top: 50px !important;
    }
    .header_search{
        display: none;
    }
    main .container {
        width: 100%;
        margin-left: 0;
    }
    main .container .wrapper section {
        width: 100%;
        padding: 10px;
        background: var(--w);
        box-shadow: 0 0 0 rgba(0,0,0,0);
    }
    .aside_recomendation {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    main .container .wrapper aside {
        width: 100%;
        padding: 20px 10px;
    }
    main .container .wrapper aside .aside_title{
        margin-bottom: 10px;
    }
    main .container .wrapper aside .aside_title_2{
        margin-top: 20px;
    }
    main .container .wrapper aside .aside_recomendation_block {
        width: 160px !important;
        flex-wrap: wrap;
        margin-right: 10px;
    }
    main .container .wrapper aside .aside_recomendation_block .aside_recomendation_block_text p{
        display: none;
    }
    .top > img {
        width: 100px;
        height: 100px;
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .top_description {
        width: 100%;
    }
    .top_description h1 {
        font-size: 22px;
        line-height: 24px;
    }
    .top_rating div {
        flex-wrap: wrap;
    }
    .top_rating_left {
        width: 100%;
    }
    .top_rating_right{
        width: 100%;
    }
    footer {
        padding: 10px;
        width: 100%;
    }
    .slick_slider img {
        width: 132px;
    }
    .app_reviews {
        padding: 15px;
    }
    .comments{
        padding: 15px 15px 0 15px;
    }
    .whats_new {
        padding: 15px 15px 10px 15px;
    }
    .whats_new p {
        padding-bottom: 20px;
    }
    .whats_new h6 {
        color: #333;
        font-size: 22px;
        font-weight: 100;
        text-transform: none;
        margin-bottom: 5px;
        margin-top: 40px;
        margin-bottom: 15px;
    }
    .whats_new > p {
        font-size: 14px;
        line-height: 1.4;
    }
    .additional_information{
        padding: 15px 15px 20px 15px;
        margin-bottom: 20px;
    }
    .additional_information_title {
        color: #333;
        font-size: 22px;
        font-weight: 100;
        text-transform: none;
        margin-bottom: 15px;
        margin-top: 40px;
    }
    .additional_information > div > ul{
        width: 50%;
    }
    .slick-arrow{
        display: none !important;
    }
    .slider {
        margin-left: 0;
        width: 100%;
    }
    .slick_slider {
        width: 100%;
    }

    .app_reviews_title {
        margin-top: 40px;
    }
    .app_reviews_title h5 {
        color: #333;
        font-size: 22px;
        font-weight: 100;
        text-transform: none;
    }    
    .top_rating {
        flex-wrap: wrap;
    }
    .add_to_wallet {
        order: 1;
        width: 100%;
    }
    .can_i_use {
        order: 2;
    }
    .app_rules {
        order: 3;
    }

    .main_section > div:first-child {
        display: block;
    }
    .age_restriction {
        display: none;
    }
    .top_rating_left ul {
        flex-wrap: wrap;
    }
    .top_rating_left li.age_restriction {
        display: block;
        width: 100%;
    }
    .top_bottom_container {
        display: flex;
        width: 100%;
    }
    .add_to_wallet{
        flex-wrap: wrap;
    }
    .add_to_wallet .add_to_wallet_left {
        order: 2;
        margin-top: 10px;
        width: 100%;
        justify-content: flex-start;
    }
    .add_to_wallet .add_to_wallet_right {
        order: 1;
        width: 100%;
    }
    .app_review_rating_left {
        width: 150px;
    }
    .app_review_rating_right{
        width: calc(100% - 160px);
    }
    main .container .wrapper aside .aside_recomendation_block_img {
        width: 160px !important;
    }
} */

#__bs_script__,
#__bs_notify__ {
	display: none !important;
}

.progressbar {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #777;
    display: none;
}
.progressbar > div {
    width: 100%;
}
.progressbar > p {
    margin-top: 5px;
    width: 100%;
    background: rgba(104,104,104,0.2);
    height: 10px;
    border-radius: 10px;
}
.progressbar > p > span {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    width: 0%;
    background: #8bc34a;
    height: 10px;
    border-radius: 10px;
    display: block;
}


