<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <title>RewardyCenter</title>

    <link rel="icon" href="img/fav.png">

    <script type="text/javascript">
		let vh = window.innerHeight * 0.01;
		document.documentElement.style.setProperty('--vh', `${vh}px`);
	</script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="js/jquery-3.6.4.min.js"></script>
    <script src="js/jquery.mask.js"></script>

    <script src="js/global.js"></script>
    <script src="js/main.js"></script>

    <script type="text/javascript" src="https://omniapostback.com/track.js?rtkcmpid=65efa334b2e18b000158470a"></script>

    <!-- Meta Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '799738728826938');
    fbq('track', 'PageView');
    </script>
    <!-- End Meta Pixel Code -->
    
    
    <!-- Tiktop Pixel Code -->
    <!-- <script>
            !function (w, d, t) {
              w.TiktokAnalyticsObject=t;var ttq=w[t]=w[t]||[];ttq.methods=["page","track","identify","instances","debug","on","off","once","ready","alias","group","enableCookie","disableCookie"],ttq.setAndDefer=function(t,e){t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var i=0;i<ttq.methods.length;i++)ttq.setAndDefer(ttq,ttq.methods[i]);ttq.instance=function(t){for(var e=ttq._i[t]||[],n=0;n<ttq.methods.length;n++
    )ttq.setAndDefer(e,ttq.methods[n]);return e},ttq.load=function(e,n){var i="https://analytics.tiktok.com/i18n/pixel/events.js";ttq._i=ttq._i||{},ttq._i[e]=[],ttq._i[e]._u=i,ttq._t=ttq._t||{},ttq._t[e]=+new Date,ttq._o=ttq._o||{},ttq._o[e]=n||{};n=document.createElement("script");n.type="text/javascript",n.async=!0,n.src=i+"?sdkid="+e+"&lib="+t;e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(n,e)};
            
              ttq.load('CJQU8RJC77U5TJETOUQ0');
              ttq.page();
            }(window, document, 'ttq');
    </script> -->
    <!-- End Tiktop Pixel Code -->
    
    
    <!-- Pinterest  Pixel Code -->
    <!-- <script>
    !function(e){if(!window.pintrk){window.pintrk = function () {
    window.pintrk.queue.push(Array.prototype.slice.call(arguments))};var
      n=window.pintrk;n.queue=[],n.version="3.0";var
      t=document.createElement("script");t.async=!0,t.src=e;var
      r=document.getElementsByTagName("script")[0];
      r.parentNode.insertBefore(t,r)}}("https://s.pinimg.com/ct/core.js");
    pintrk('load', '2612906424300', {em: '<user_email_address>'});
    pintrk('page');
    </script> -->
    <!-- End Pinterest Pixel Code -->
    
    
    <!-- Snap  Pixel Code -->
    <!-- <script type='text/javascript'> (function(e,t,n){if(e.snaptr)return;var a=e.snaptr=function() {a.handleRequest?a.handleRequest.apply(a,arguments):a.queue.push(arguments)}; a.queue=[];var s='script';r=t.createElement(s);r.async=!0; r.src=n;var u=t.getElementsByTagName(s)[0]; u.parentNode.insertBefore(r,u);})(window,document, 'https://sc-static.net/scevent.min.js'); snaptr('init', 'bf0dccf7-b5ce-4654-b217-f09d298b1d45', { 'user_email': '__INSERT_USER_EMAIL__' }); snaptr('track', 'PAGE_VIEW'); </script> -->
    <!-- End Snap Pixel Code -->
</head>
<body>

    <div class="screen">
        <header>
            <div class="container">
                <div class="row">
                    <div class="logo">
                        <img src="img/logo.png" alt="" class="logo">
                    </div>
                </div>
            </div>
        </header>

        <section class="hero">
            <div class="container">
                <div class="row">
                    <div class="inner">
                        <h1>Your <strong class="primary">amazon</strong> journey with bonuses </h1>
                        <div class="reviews">
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <p>4.9 reviewers rate</p>
                        </div>
                        <div class="list">
                            <div>
                                <img src="img/check.svg" alt="">
                                <p>No experience required</p>
                            </div>
                            <div>
                                <img src="img/check.svg" alt="">
                                <p>Complete in your spare time</p>
                            </div>
                            <div>
                                <img src="img/check.svg" alt="">
                                <p>Get Paid out in as little as a week</p>
                            </div>
                        </div>
                        <div class="form">
                            <div class="question" data-question="1">
                                <div class="form-group">
                                    <label for="zip">ZIP</label>
                                    <input type="text" name="zip" class="form-control" id="zip" placeholder="In what zipcode?" maxlength="5">
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary btn-banner">
                                        <p>Start Now</p>
                                        <div class="banner">
                                            <p>Only in USA</p>
                                            <img src="img/flag-usa.png" alt="">
                                        </div>
                                    </button>
                                </div>
                            </div>
                            <div class="question" data-question="2">
                                <div class="form-group">
                                    <label for="firstname">First Name</label>
                                    <input type="text" name="firstname" class="form-control" id="firstname" placeholder="John">
                                </div>
                                <div class="form-group">
                                    <label for="lastname">Last Name</label>
                                    <input type="text" name="lastname" class="form-control" id="lastname" placeholder="Doe">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" class="form-control" id="email" placeholder="example@gmail.com">
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary">Continue</button>
                                </div>
                            </div>
                            <div class="question" data-question="3">
                                <div class="form-group">
                                    <label for="phone">Phone</label>
                                    <input type="phone" name="phone" class="form-control" id="phone" placeholder="(000) 000-0000" autocomplete="off" maxlength="14">
                                </div>
                                <div class="rules">
                                    <p>By clicking "Submit", I agree to email marketing, <a href="terms-of-use/" target="_blank">Terms &amp;  <br>Conditions</a> including mandatory arbitration, <a href="privacy-policy/" target="_blank">Privacy Policy</a></p>
                                </div>
                                <div class="btn-group">
                                    <a type="button" class="btn btn-primary" href="survey/">Submit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section class="requirements">
        <div class="container">
            <div class="row">
                <div class="title">
                    <h2 class="h1">Ideal for You,<span><br></span>if You Are</h2>
                </div>
                <div class="list">
                    <div>
                        <h6>01</h6>
                        <p>Home-based parents seeking flexibility</p>
                    </div>
                    <div>
                        <h6>02</h6>
                        <p>Exploring side income opportunities</p>
                    </div>
                    <div>
                        <h6>03</h6>
                        <p>Enthusiastic about Amazon purchases</p>
                    </div>
                    <div>
                        <h6>04</h6>
                        <p>Keen to become a product reviewer</p>
                    </div>
                    <div>
                        <h6>05</h6>
                        <p>Have spare time and want to earn extra</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="about">
        <div class="container">
            <div class="row">
                <div class="content">
                    <div class="title">
                        <h2 class="h1">What We Bring to the Table</h2>
                    </div>
                    <p>Welcome to RewardyCenter - your ultimate hub for unlocking income potential. We're here to support people across the U.S. with essential tools, valuable resources, and professional guidance to help them grow financially.</p>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary to-top">Join Now</button>
                    </div>
                </div>
                <div class="img">
                    <img src="img/about-img.png" alt="Platform Benefits">
                </div>
            </div>
        </div>
    </section>
    
    <section class="how-it-works">
        <div class="container">
            <div class="row">
                <div class="title">
                    <h2 class="h1">How the Process Works</h2>
                </div>
                <div class="content">
                    <div class="item">
                        <div class="number">
                            <div class="inner">
                                <h6>01</h6>
                                <span class="circle"></span>
                            </div>
                        </div>
                        <div class="text">
                            <h5>Sign Up at No Cost</h5>
                            <p>Create your RewardyCenter profile and get immediate access to exclusive earning options.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="number">
                            <div class="inner">
                                <h6>02</h6>
                                <span class="circle"></span>
                            </div>
                        </div>
                        <div class="text">
                            <h5>Discover & Start Earning</h5>
                            <p>Explore a wide range of earning paths, engage with opportunities, and start growing your income.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="number">
                            <div class="inner">
                                <h6>03</h6>
                                <span class="circle"></span>
                            </div>
                        </div>
                        <div class="text">
                            <h5>Claim Your Perks</h5>
                            <p>Receive daily incentives, enjoy special rewards, and even keep free Amazon items.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="faq">
        <div class="container">
            <div class="row">
                <div class="title">
                    <h2 class="h1">Got Questions? We've Got Answers</h2>
                </div>
                <div class="content">
                    <div class="item active">
                        <div class="visible">
                            <span class="circle"></span>
                            <h6>What is RewardyCenter?</h6>
                            <div class="figure">
                                <img src="img/pros.svg" alt="">
                                <img src="img/cons.svg" alt="">
                            </div>
                        </div>
                        <div class="hidden">
                            <p>RewardyCenter is a unique platform crafted to connect individuals with top earning opportunities. We aim to equip you with tools and guidance to help grow your income.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="visible">
                            <span class="circle"></span>
                            <h6>Is it free to join?</h6>
                            <div class="figure">
                                <img src="img/pros.svg" alt="">
                                <img src="img/cons.svg" alt="">
                            </div>
                        </div>
                        <div class="hidden">
                            <p>Yes! Creating an account on RewardyCenter is completely free. You'll instantly get access to hand-picked opportunities and a supportive community.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="visible">
                            <span class="circle"></span>
                            <h6>Do I need previous experience?</h6>
                            <div class="figure">
                                <img src="img/pros.svg" alt="">
                                <img src="img/cons.svg" alt="">
                            </div>
                        </div>
                        <div class="hidden">
                            <p>No experience? No problem. RewardyCenter is beginner-friendly and includes simple steps to help anyone get started with ease.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="visible">
                            <span class="circle"></span>
                            <h6>When can I start earning?</h6>
                            <div class="figure">
                                <img src="img/pros.svg" alt="">
                                <img src="img/cons.svg" alt="">
                            </div>
                        </div>
                        <div class="hidden">
                            <p>That depends on the task you choose! Some let you earn instantly, while others may require time to see consistent results.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="visible">
                            <span class="circle"></span>
                            <h6>Do I need to follow a fixed schedule?</h6>
                            <div class="figure">
                                <img src="img/pros.svg" alt="">
                                <img src="img/cons.svg" alt="">
                            </div>
                        </div>
                        <div class="hidden">
                            <p>Not at all! You decide when and how often you want to participate. Work at your own pace and on your own terms.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <footer>
        <div class="container">
            <div class="row row-top">
                <div class="inner">
                    <div class="description">
                        <p>When accessing promotions like discounts, samples, giveaways, or sweepstakes through RewardyCenter, you may need to submit personal information, complete surveys, or agree to marketing outreach. RewardyCenter does not oversee or guarantee the availability of these offers, as they are handled by independent third parties.</p>
                        <p>We are not liable for any changes in offer availability due to policy shifts, eligibility updates, or service interruptions by third parties. We may earn commissions when you engage with offers at no additional cost to you. All trademarks and brand names used remain the property of their rightful owners and do not imply endorsement.</p>
                    </div>
                </div>
            </div>
    
            <div class="row row--middle">
                <div class="inner">
                    <div class="logo">
                        <img src="img/logo.png" alt="RewardyCenter Logo">
                    </div>
                    <nav>
                        <a href="privacy-policy/">Privacy Policy</a>
                        <a href="terms-of-use/">Terms & Conditions</a>
                        <a href="" class="mailto">Contact Us</a>
                    </nav>
                </div>
            </div>
        </div>
    
        <div class="footer-bottom">
            <div class="container">
                <div class="row row-copy">
                    <p>© <script>document.write(new Date().getFullYear());</script> <span class="domain"></span>. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
    
</body>
</html>