.about-us {
	background: var(--theme-primary);
	color: var(--theme-white);
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.about-us .container {
	position: relative;
	z-index: 2;
}
.about-us .content > p:not(:last-child) {
	margin-bottom: calc(2 * var(--gap-md));
}
.about-us .result {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.about-us .result h2 {
	margin-right: calc(1 * var(--gap-md));
	color: var(--theme-alert);
}
.about-us .result h4 {
	margin-bottom: 0.135em;
	text-align: center;
}

.about-us .partners {
	display: grid;
	grid-template-columns: repeat(3 , 1fr);
	grid-gap: calc(2 * var(--gap-md));
}
.about-us .partners .logo {
	display: flex;
	justify-content: center;
	align-items: center;
}
.about-us .partners .logo img {
	max-width: 100%;
}

@media screen and (max-width: 767px) {
	.about-us .result {
		flex-direction: column;
		align-items: center;
	}
	.about-us .result h2 {
		margin-right: 0;
	}
	.about-us .result h4 {
		font-size: 1em;
	}
	.about-us .partners {
		grid-gap: calc(1 * var(--gap-md));
	}
	.about-us .content > p {
		font-size: calc(1em - 4px)
	}
}


