#testimonials {
	position: relative;
}
#testimonials .title {
	text-align: center;
	width: 100%;
}
#testimonials .slide {
	margin: 0 15px;
	border-radius: 25px;
	padding: 20px;
	border: 1px solid var(--theme-secondary);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#testimonials .container {
	position: static;
}
#testimonials .slide .ava img {
	border-radius: 1000px;
}
#testimonials .slide .name {
	padding: 10px 0 5px 0;
	color: var(--theme-secondary);
	font-family: 'Playfair Display', serif;
	font-size: calc(1rem + 1px);
}
#testimonials .slide .rating {
	padding: 0 0 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
#testimonials .slide .text {
	text-align: center;
	font-size: calc(1rem - 6px);
}
#testimonials .slider {
	width: calc(100% + 30px);
	margin-left: -15px;
}
#testimonials .slick-track {
	display: flex !important;
	align-items: stretch;
}
#testimonials .slide {
	height: initial !important;
}

@media screen and (max-width: 991px) {
	#testimonials .slider {
		width: 100%;
		margin-left:0;
	}
	#testimonials .slide {
		margin: 0 10px;
	}
}


.text p {
    min-height: 100px;  /* Або яка вам потрібна мінімальна висота */
}