#start {
	padding-top: 0;
	padding-bottom: 0;
	overflow: hidden;
}
#start .row {
	background: #FFC731;
	border-radius: 25px;
	flex-direction: column;
	position: relative;
	justify-content: center;
	align-items: center;
	padding: 100px 120px 100px 120px;
	overflow: hidden;
}
#start .figure  {
	position: absolute;
	width: 100%;
	max-width: 100% !important;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1;
}
#start .figure .left{
	position: absolute;
	width: auto;
	height: 100%;
	top: 0;
	right: 0;
}
#start .figure .right{
	position: absolute;
	width: auto;
	height: 100%;
	top: 0;
	left: 0;
}
#start .figure.figure--desktop {
	display: block;
}
#start .figure.figure--mobile {
	display: none;
}
#start * {
	position: relative;
	z-index: 2;
}
#start .title {
	margin-bottom: 60px;
}
#start .title h2 {
	margin-bottom: 10px;
	font-weight: 600;
}
#start .title img {
	margin-bottom: 15px;
}
#start .title p {
	max-width: 500px;
}
#start .logos {
	margin-top: 60px;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
#start .logos > div {
	width: auto;
	margin: 0 10px;
}
#start .logos img {
	max-width: 100%
}
#start .start-subscribe {
	margin-top: auto;
	margin-bottom: auto;
}
#start .start-subscribe .btn {
	background: var(--theme-white);
}

@media screen and (max-width: 991px) {
	#start .row {
		border-radius: 0;
		padding: 70px 15px 30px 15px;
	}
	#start .title {
		margin-bottom: 40px;
	}
	#start .figure.figure--desktop {
		display: none;
	}
	#start .figure.figure--mobile {
		display: block;
	}
	#start .row > *{
		max-width: 280px
	}
	#start .row .logos {
		max-width: 3750px;
	}
	#start .title p {
		font-weight: 300;
	}
	#start .logos {
	    margin-top: 130px;
	}
	#start .figure {
		overflow: hidden;
		position: initial;
		display: flex;
		justify-content: center;
		width: calc(100% + 30px);
		max-width: calc(100% + 30px) !important;
		margin-left: -15px;
		margin-bottom: -30px;
		align-items: center;
		margin-top: 15px;
	}
	#start .figure .left{
		position: relative;
		width: auto;
		height: 60%;
		max-width: 300px;
		top: initial;
		bottom: 0%;
		left: 50%;
		transform: translateX(-50%);
	}
	#start .figure .right{
		position: absolute;
		width: auto;
		height: 68%;
		top: 0;
		left: initial;
		right: 0;
	}
	#start .title img {
		margin-bottom: 30px;
	}
}