<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>EarnOppCenter - Online Platform with Best Opportunities</title>
    <meta name="theme-color" content="#2D2B2B"/>
	<link rel="shortcut icon" type="image/png" href="media/fav.png"/>
	
	<script type="text/javascript" src="js/jquery.js"></script>

	<script type="text/javascript">
		let vh = window.innerHeight * 0.01;
		document.documentElement.style.setProperty('--vh', `${vh}px`);
	</script>

	<script type="text/javascript" src="https://omniapostback.com/track.js?rtkcmpid=65efa334b2e18b000158470a"></script>

<!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '799738728826938');
fbq('track', 'PageView');
</script>
<!-- End Meta Pixel Code -->


<!-- Tiktop Pixel Code -->
<!-- <script>
		!function (w, d, t) {
		  w.TiktokAnalyticsObject=t;var ttq=w[t]=w[t]||[];ttq.methods=["page","track","identify","instances","debug","on","off","once","ready","alias","group","enableCookie","disableCookie"],ttq.setAndDefer=function(t,e){t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var i=0;i<ttq.methods.length;i++)ttq.setAndDefer(ttq,ttq.methods[i]);ttq.instance=function(t){for(var e=ttq._i[t]||[],n=0;n<ttq.methods.length;n++
)ttq.setAndDefer(e,ttq.methods[n]);return e},ttq.load=function(e,n){var i="https://analytics.tiktok.com/i18n/pixel/events.js";ttq._i=ttq._i||{},ttq._i[e]=[],ttq._i[e]._u=i,ttq._t=ttq._t||{},ttq._t[e]=+new Date,ttq._o=ttq._o||{},ttq._o[e]=n||{};n=document.createElement("script");n.type="text/javascript",n.async=!0,n.src=i+"?sdkid="+e+"&lib="+t;e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(n,e)};
		
		  ttq.load('CJQU8RJC77U5TJETOUQ0');
		  ttq.page();
		}(window, document, 'ttq');
</script> -->
<!-- End Tiktop Pixel Code -->


<!-- Pinterest  Pixel Code -->
<!-- <script>
!function(e){if(!window.pintrk){window.pintrk = function () {
window.pintrk.queue.push(Array.prototype.slice.call(arguments))};var
  n=window.pintrk;n.queue=[],n.version="3.0";var
  t=document.createElement("script");t.async=!0,t.src=e;var
  r=document.getElementsByTagName("script")[0];
  r.parentNode.insertBefore(t,r)}}("https://s.pinimg.com/ct/core.js");
pintrk('load', '2612906424300', {em: '<user_email_address>'});
pintrk('page');
</script> -->
<!-- End Pinterest Pixel Code -->


<!-- Snap  Pixel Code -->
<!-- <script type='text/javascript'> (function(e,t,n){if(e.snaptr)return;var a=e.snaptr=function() {a.handleRequest?a.handleRequest.apply(a,arguments):a.queue.push(arguments)}; a.queue=[];var s='script';r=t.createElement(s);r.async=!0; r.src=n;var u=t.getElementsByTagName(s)[0]; u.parentNode.insertBefore(r,u);})(window,document, 'https://sc-static.net/scevent.min.js'); snaptr('init', 'bf0dccf7-b5ce-4654-b217-f09d298b1d45', { 'user_email': '__INSERT_USER_EMAIL__' }); snaptr('track', 'PAGE_VIEW'); </script> -->
<!-- End Snap Pixel Code -->


</head>
<body>
<!-- preloader -->
<style>.preloader{position:fixed;width:100vw;height:100vh;background:#fff;z-index:1000;left:0;top:0;}</style><div class="preloader"></div>

<div class="screen">
	<header>
		<div class="container">
			<div class="row">
				<div class="logo">
					<img src="media/logo.svg" alt="" class="desk">
					<img src="media/logo-white.svg" alt="" class="mob">
				</div>
			</div>
		</div>
	</header>
	<section id="intro">
		<div class="container">
			<div class="row">
				<div class="form">
					<div class="main-title">
                        <h1>
                            Earn Money for <span>amazon</span><br>
                            <p>Bonus Available for <strong>Writing Review.</strong></p>
                        </h1>
                        <p>Shop, Play, Get Rewarded</p>
					</div>
					<div class="bullets">
						<ul>
							<li>
								<img src="media/bullet.svg">
								<p>No experience required</p>
							</li>
							<li>
								<img src="media/bullet.svg">
								<p>Complete in your spare time</p>
							<li>
								<img src="media/bullet.svg">
								<p>Get Paid out in as little as a week</p>
                            </li>
						</ul>
					</div>
					<div class="form-step form-step--lg form-step--1">
						<div class="form-row">
							<div class="form-element form-element-width-button">
								<div class="submit-question">
									<button class="btn btn-primary btn-next btn-lg-mobile" tabindex="-1">Start Now</button>
								</div>
							</div>
						</div>
					</div>

					<div class="form-step form-step--2">
						<div class="form-row">
							<div class="form-row-title">
								<strong>First Name</strong>
							</div>
							<div class="form-element">
								<div class="form-element-container">
									<input type="text" name="firstname" class="form-control" placeholder="John">
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="form-row-title">
								<strong>Last Name</strong>
							</div>
							<div class="form-element">
								<div class="form-element-container">
									<input type="text" name="lastname" class="form-control" placeholder="Doe">
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="form-row-title">
								<strong>Email</strong>
							</div>
							<div class="form-element">
								<div class="form-element-container form-element-container--icon">
									<input type="text" name="email" class="form-control" placeholder="example@gmail.com">
									<div class="input-icon-container">
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M20 20H4C2.89543 20 2 19.1046 2 18V5.913C2.04661 4.84255 2.92853 3.99899 4 4H20C21.1046 4 22 4.89543 22 6V18C22 19.1046 21.1046 20 20 20ZM4 7.868V18H20V7.868L12 13.2L4 7.868ZM4.8 6L12 10.8L19.2 6H4.8Z"></path>
										</svg>
									</div>
								</div>
							</div>
						</div>
                        <div class="rules">
                            <p>By clicking "Submit", You agree to email marketing from our partners, <a href="terms-of-use/" target="_blank">Terms &amp; Conditions</a> including mandatory arbitration, <a href="privacy-policy/" target="_blank">Privacy Policy</a></p>
                        </div>
						<div class="submit-question">
							<a class="btn btn-lg btn-primary btn-next" id="btf" tabindex="-1" href="survey/">Submit</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="figure">
			<img src="media/figure-girl.png" class="figure-desk">
			<img src="media/figure-box.png"  class="figure-mob">
		</div>
	</section>
</div>

<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="logo">
                    <img src="media/logo-footer.svg" alt="">
                </div>
                <div class="footer-nav">
                    <ul>
                        <li>
                            <a href="privacy-policy/">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="terms-of-use/">Terms and Conditions</a>
                        </li>
                        <li>
                            <a href="" class="mailto">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row copu">
                 <p>Copyright © <script>var currentYear = new Date().getFullYear();document.write(currentYear);</script> <span class="domain"></span></p>
            </div>
        </div>
    </div>
</footer>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="css/fontawersome.css">
<link rel="stylesheet" href="css/bootstrap-reboot.min.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/global.css">

<link rel="stylesheet" href="css/header.css">
<link rel="stylesheet" href="css/intro.css">
<link rel="stylesheet" href="css/footer.css">

<script type="text/javascript" src="js/jquery.mask.js"></script>
<script type="text/javascript" src="js/script_general.js"></script>
<script type="text/javascript" src="js/script_main.js"></script>

</body>
</html>