.intro {
	margin-bottom: 0;
}
.intro .container {
	position: relative;
	padding: calc(6 * var(--gap-md)) calc(6 * var(--gap-md)) calc(6 * var(--gap-md)) calc(6 * var(--gap-md));
}
.intro .title {
	text-align: left;
}
.intro .intro-content {
	position: static;
}
.intro .intro-link {
	font-weight: 500;
	position: relative;
	overflow: hidden;
}
.intro .title {
	font-size: 3.5rem;
	margin-bottom: calc(4 * var(--gap-md));
	font-weight: 600;
}
.intro .container-bullets {
	margin: 0 auto calc(5 * var(--gap-md));
	width: 100%;
	position: relative;
	transform:  translateY(0%);
	text-align: left;
}
.intro .bullets {
	display: block;
	border-radius: 0;
	font-weight: 500;
}
.intro .bullets > .bullet-item {
	padding: 0;
	display: flex;
	align-items: center;
	text-align: left;
}
.intro .bullet-item-inner {
	display: flex;
	align-items: center;
	align-items: flex-start;
}
.intro .bullets > .bullet-item:not(:last-child) {
	border-right: 0 solid transparent;
	margin-bottom: calc(1.5 * var(--gap-md));
}
.intro .bullet-item svg {
	margin-right: calc(1 * var(--gap-md));
	width: 1.5em;
	min-width: 1.5em;
	max-width: 1.5em;
	height: 1.5em;
	min-height: 1.5em;
	max-height: 1.5em;
}


.intro .container-form .question{
	margin: calc(-2 * var(--gap-md)) 0 0 0;
}
.intro .question-fields {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-direction: column;
	max-width: 300px;
}
.intro .question--1 .question-fields  {
	flex-direction: row;
}
.intro .field .field-title {
	font-weight: 600;
	text-align: left;
}
.intro .field .field-content {
	border-radius: 0.25rem;
	background: var(--theme-white);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 calc(1 * var(--gap-md)) 0 0;
}
.intro .question-fields > .field {
	margin: 0 0 calc(1.5 * var(--gap-md)) 0;
}
.intro .question--1 .question-fields > .field {
	margin: 0 calc(1.5 * var(--gap-md)) 0 0;
}
.intro .question-fields > .field.field--rules {
	font-size: calc(1rem - 8px);
	margin-bottom: 0;
	text-align: center;
}
.intro .question-fields > .field > .field-content {
	position: relative;
	border: 1px solid var(--theme-white);
}
.intro .question-fields > .field > .field-content.error {
	border: 1px solid var(--theme-dunger);
}
.intro .question-fields > .field > .field-content input {
	color: var(--theme-black) !important;
	flex-grow: 1;
	min-width: 1px;
	background: transparent;
	padding: 0.6rem 0.75rem;
	border: 1px solid transparent;
	font-size: calc(1rem - 2px);
	height: 48.59px;
}
.intro .question-fields > .field > .field-content input::placeholde {
	color: #8F90A6;
	font-size: calc(1rem - 2px);
}
.intro .question-fields > .field > .field-content svg {
	fill: #8F90A6;
}
.intro .question-fields > .submit {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	margin-top: calc(1.5 * var(--gap-md));
}
.intro .question--1 .question-fields > .submit {
	margin-top: 0;
}
.intro .question-fields > .submit button,
.intro .question-fields > .submit a {
	pointer-events: none;
	opacity: 1;
	width: 100%;
	max-width: calc(100% - 40px);
	padding: 0.6rem 2rem;
}
.intro .question--1 .question-fields > .submit button,
.intro .question--1 .question-fields > .submit a {
	width: initial;
	max-width: 100%;
}
.intro .question--3 .question-fields > .submit button,
.intro .question--3 .question-fields > .submit a {
	padding: 0.75rem 3rem;
}
.intro .question--2,
.intro .question--3,
.intro .question--4,
.intro .question--5,
.intro .question--6,
.intro .question--7 {
	display: none;
}

@media screen and (max-width: 991px) {
	.intro .title {
		margin-bottom: calc(2 * var(--gap-md));
	}
	.intro .container-bullets {
		margin-bottom: calc(2 * var(--gap-md));
	}
	.intro .bullets > .bullet-item:not(:last-child) {
		margin-bottom: calc(.75 * var(--gap-md));
	}
	.intro .title {
	    line-height: 1.2 !important;
	}
	.intro .bullet-item svg {
		margin-top: calc(0.25 * var(--gap-md));
		width: 1.25em;
		min-width: 1.25em;
		max-width: 1.25em;
		height: 1.25em;
		min-height: 1.25em;
		max-height: 1.25em;
	}
	.intro .question-fields > .field ,
	.intro .question--1 .question-fields > .field {
		margin: 0 0 calc(1 * var(--gap-md)) 0;
	}
}
@media screen and (max-width: 991px) and (min-height: 670px) {
	.intro .title {
		margin-bottom: calc(3 * var(--gap-md));
	}
	.intro .container-bullets {
		margin-bottom: calc(4 * var(--gap-md));
	}
	.intro .bullets > .bullet-item:not(:last-child) {
		margin-bottom: calc(1.5 * var(--gap-md));
	}
	.intro .title {
	    line-height: 1.4 !important;
	}
	.intro .question-fields > .field ,
	.intro .question--1 .question-fields > .field {
		margin: 0 0 calc(1.5 * var(--gap-md)) 0;
	}
}

@media screen and (max-width: 1200px) {
	.intro .title {
		font-size: 3rem;
	}
}
@media screen and (max-width: 991px) {
	main {
		min-height: 100vh;
	    min-height: calc(var(--vh, 1vh) * 100);
	    display: flex;
	    flex-direction: column;
	}
	#intro-slot {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}
	.intro {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}
	.intro .container {
		flex-grow: 1;
		width: 100%;
		max-width: 100%;
		border-radius: 0;
		padding: calc(4 * var(--gap-md)) calc(1.5 * var(--gap-md));
		text-align: center;
	}
	.intro-content {
		max-width: 400px;
		margin: 0 auto;
	}
	.intro .title {
		font-size: 1.95rem;
		line-height: 1.4;
		text-align: center;
	}
	.intro .bullets {
		max-width: 260px;
		margin: 0 auto;
	}
	.intro .intro-link {
		width: 100%;
		max-width: 260px;
	}


	.intro .container-form {
		max-width: 260px;
		margin: 0 auto;
	}
	.intro .container-form.wide {
		max-width: 100%;
	}
	.intro .container-form .question-1 {
		margin: calc(-1 * var(--gap-md)) 0 0 0;
	}
	.intro .container-form .question{
		margin: 0;
	}
	.intro .question-fields {
		width: 100%;
		max-width: 100%;
	}
	.intro .question--1 .question-fields {
		flex-direction: column;
	}
	/*.intro .question--1 .question-fields > .field {
		margin: 0 0 calc(1.5 * var(--gap-md)) 0;
	}*/
	.intro .question--1 .question-fields > .submit button,
	.intro .question--1 .question-fields > .submit a ,
	.intro .question-fields > .submit button, 
	.intro .question-fields > .submit a {
		width: 100%;
		max-width: 100%;
		padding: 0.75rem 3rem;
	}
}


.fccc {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.question--4 {
	text-align: center;
	width: 100%;
} 
.question--4 img {
	margin-bottom: 40px;
	max-width: 85px;
}
.question--4 h2{
	margin-bottom: 20px;
	font-weight: 700;
}
.question--4 p {
	max-width: 400px;
	line-height: 2
}
.intro .container.psevdo-hide:after{
	opacity: 0;
}

@media screen and (max-width: 991px) {
	.question--4 ,
	.question--5 {
		padding-bottom: 67px;
	} 
	.question--4 p {
		max-width: 300px;
	}
}

.quiz-bg {
	position: absolute !important;
	width: 100%;
	height: 100%;
	z-index: 1 !important;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.quiz-bg  img {
	width: 26%;
	height: auto;
	opacity: 0;
	transition: 0.3s;
}
.quiz-bg.active img {
	opacity: 1;
}

@media screen and (max-width: 991px) {
	.quiz-bg {
		display: none;
	}
}

.question--5 {
	max-width: 650px;
	text-align: center;
}

.question--5 .dots {
	display: flex;
	justify-content: center;
	align-items: center;
}
.question--5 .dot-item {
	width: 95px;
	height: 5px;
	background: #C5C5C7;
	border-radius: 1000px;
	margin: 0 4px;
	transition: 0.3s;
}
.question--5 .dot-item.active {
	background:rgba(0,48,173,1);
}
.question--5 .btn.next {
	background: rgba(0,48,173,1);
	color: rgba(255,255,255,1) !important;
	box-shadow: 0 0 0 2px rgba(0,48,173,0.25);
	border-radius: 1000px;
	padding-left: 40px;
	padding-right: 40px;
	width: 100%;
	margin-bottom: 13px;
	max-width: 194px;
	min-height: 50px;
	padding: 0.75rem 3rem;
}
.question--5 .btn.next.no,
.question--5 .btn.next.yes {
	max-width: 100%;
}
.question--5 .btn.next.no {
	color: #525D7C !important;
	background: rgba(0,48,173,0.15);
}
.question--5 .btn.next:hover {
	box-shadow: 0 0 0 7px rgba(0,48,173,0.5);
}
.question--5 .btn.back {
	background: transparent;
	color: #6D6D77 !important;
	font-weight: 500 !important;
	font-size: calc(1rem - 3px);
	width: 100%;
}

.question--5 .answers-container {
	width: 275px;
	margin: 0 auto;
}
.question--5 .title-item {
	font-size: 1.225rem;
}
.question--5 .title-item strong {
	font-weight: 700;
}
.question--5 .titles {
	margin-top: 30px;
	margin-bottom: 40px;
}

.question--5 .answers-container,
.question--5 .title-item {
	display: none;
}
.question--5 .answers-container-1,
.question--5 .title-item-1 {
	display: block;
}
