html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background: #fff;
	line-height: 1;
}
body * {
    box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


:root {
    --black: #000;
    --white: #fff;
    --primary: #E970DD;
    --primary-light: #FDECD1;
    --secondary: #E970DD;
    --secondary-dark: #c750bb;
    --green: #ABFF78;
    --danger: #DF0000;
    --gray: #979797;

}
html {
	font-size: 20px;
}
@media screen and (max-width: 991px) {
    html {
        font-size: 16px;
    }
}
body {
	font-family: 'SF Pro Display', sans-serif;
	font-size: inherit;
	font-weight: 400;
	position: relative;
	line-height: 1.3125;
	background: var(--yellow-light);
    color: var(--black);
}
body * {
	line-height: inherit;
	box-sizing: border-box;
	outline: none;
}
strong	{
	font-weight: 700;
}
i {
    font-style: italic;
}
.screen {
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container {
    margin: 0 auto;
    max-width: 500px;
    width: calc(100% - 20px);
}


h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
}
.title {
    margin: 5px auto 10px; 
    text-align: center;
}
.primary {
    color: var(--primary);
}
.secondary {
    color: var(--secondary);
}
.danger {
    color: var(--danger);
}
.gray {
    color: var(--gray);
}
p {
    margin-bottom: 7px;
}
.card {
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card img {
    max-width: 280px;
    width: 100%;
}

.question-title {
    text-align: center;
    margin-bottom: 20px;
}
.question-title h3 {
    font-size: 18px;
    font-weight: bold;
}

.quiz-answer {
    display: flex;
    flex-direction: column;
}
.btn {
    margin-bottom: 15px;
    border: 0px;
    text-decoration: none;
    min-height: 54px;
    font-weight: 700;
    color: var(--white);
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn.btn-lg {
    font-size: 21px;
    font-weight: 700;
    line-height: 24.61px;
    text-align: center;
}
.btn.btn-secondary {
    background: var(--secondary);
}
.btn.btn-secondary:hover {
    background: var(--secondary-dark);
}
.btn.btn-disabled {
    background: var(--gray) !important
}

.question {
    display: none;
}
.question-1 {
    display: block;
}
.center {
    text-align: center;
}

.spinner {
    display: none;
}
.spinner-container {
    margin: 15px auto 15px;
    width: 300px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.spinner-container .spinner-circle {
    width: 100%;
    aspect-ratio: 1/1;
    position: absolute;
    top: 0;
}
.spinner-container .spinner-circle img {
    max-width: 100%;
    display: block;
    transition: 6s ease;
}
.spinner-container .spinner-circle img[data-roll="0"] {
    transform: rotate(0)
}
.spinner-container .spinner-circle img[data-roll="1"] {
    transform: rotate(3930deg)
}
.spinner-container .spinner-circle img[data-roll="2"] {
    transform: rotate(8010deg)
}
.spinner-container .spinner-arrow {
    position: absolute;
    z-index: 2;
    top: calc(50% - 27px);
    left: 50%;
    transform: translate3d(-50% , -50%, 0);
}
.spinner-container .spinner-arrow img {
    display: block;
}
.spinner-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner-button .btn {
    margin-bottom: 0;
    min-width: 280px;
}

.spinnner-counter {
    margin-top: 20px;
    background: var(--primary-light);
    width: calc(100% + 20px);
    margin-left: -10px;
    padding: 10px 20px 3px;
    text-align: center;
}
.spinnner-counter * {
    line-height: 1rem;
}

.spinner-popup  {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    display: none;
}
.spinner-popup .popup-bg {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    z-index: 1001;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.popup-container {
    position: relative;
    z-index: 1002;
    background: var(--primary-light);
    left: 50%;
    top: 50%;
    transform: translate3d(-50% , -50% , 0);
    width: calc(100% - 20px);
    max-width: 400px;
    transform: translate();
    border-radius: 32px;
}

.popup-container .top {
    padding: 20px 20px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    text-align: center;
    margin-bottom: 0;
}

.spinner-popup-2 .popup-container .top {
    background: url(../img/confetti.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 20px;
}
.popup-container .bottom {
    padding: 30px 20px 0;
    margin-bottom: 0;
}
.popup-container .bottom {
    font-size: 20px;
    line-height: 23.44px;
    text-align: center;
}
.button-container {
    margin-bottom: 0;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-container .btn {
    margin-bottom: 0;
    width: 100%;
    max-width: 280px;
}
.spinner-popup-1 .popup-container {
    border: 8px solid var(--white);
}
.spinner-popup-2 .popup-container {
    border: 8px solid var(--green);
}
.popup-banner {
    font-size: 22.35px;
    font-weight: 800;
    line-height: 24.8px;
    letter-spacing: 0.01em;
    text-align: center;
    padding: 20px;
}
.popup-banner p {
    margin-bottom: 0;
}
.popup-banner-white {
    background: var(--white);
}
.popup-banner-green {
    background: var(--green);
    color: #474749;
}
.popup-banner-white .number p {
    margin-bottom: 0;
    font-size: 50.72px;
    font-weight: 800;
    line-height: 56.3px;
    letter-spacing: 0.01em;
    text-align: center;
}
.popup-banner-green .number p {
    margin-bottom: 0;
    font-size: 70.74px;
    font-weight: 800;
    line-height: 78.52px;
    letter-spacing: 0.01em;
    text-align: center;
}
.popup-banner-green  p {
    font-size: 31.16px;
    font-weight: 800;
    line-height: 34.59px;
    letter-spacing: 0.01em;
    text-align: center;
}

.form {
    display: none;
}
.form .top-banner {
    padding: 10px 20px;
    background: #FFB5F8;
    width: calc(100% + 20px);
    margin-left: -10px;
    text-align: center;
}
.form .input-container {
    text-align: center;  
    
}
.form .input-container > p {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    margin-bottom: 30px;
}

.form-element-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #fff;
    margin: 0 auto;
    position: relative;
}
.input-icon-container {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-element-container input {
    width: 100%;
    padding: 10px 50px 10px 15px;
    border: 1px solid #221F1F;
    border-radius: 8px;
    min-height: 54px;
    font-size: 1rem;
    color: var(--black);
}
.form-element-container input.error {
    border: 1px solid var(--danger);
    color: var(--danger);
}
.form-element-container input::placeholder {
    color: #9F9FA0;
}
.form-row {
    max-width: 280px;
    margin: 0 auto;
}
.form-row-title {
    position: relative;
    z-index: 2;
    height: 0;
    max-width: 280px;
    margin: 0 auto;
    text-align: left;
    line-height: 1;
    transform: translateY(-11px);
}
.form-row-title > * {
    background: var(--white);
    margin-left: 15px;
    line-height: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding: 0 10px;
    transition: 0.3s;
}

.form .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.form .btn-container a {
    margin-bottom: 0;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px;
}


.form .disclaimer {
    margin-bottom: 0;
    margin-top: 20px;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
}

.comment {
    margin-top: 30px;
    margin-bottom: 20px;
}
.comment p {
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}

.comment img {
    width: 100%;
    max-width: 100%;
}

footer {
    margin-top: 40px;
    padding: 20px 0;
}
footer .container{
    display: flex;
    flex-direction: column;
}
footer .container > * {
    text-align: center;
    font-size: 12px;
    line-height: 24px;
}
footer .container > *:not(:last-child) {
    margin-bottom: 5px;
}
footer a {
    display: inline-block;
    padding: 0 5px;
    color: var(--black) !important;
    text-decoration: none !important;
}


.list {
    text-align: left;
}

.spinner-popup-1 .bigger {
    font-size: 1.5em;
    line-height: 1;
}

.spinner-popup-2 .bigger {
    font-size: 1.8em;
    line-height: 1;
}