.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    background: #006C96;
    width: 100%;
    height: 80px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    font-family: "Roboto", sans-serif;
}
.header .header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .header__logo img {
    width: 300px;
    max-width: calc(100% - 60px);
    display: block;
    max-height: 60px;
    object-fit: contain;
    object-position: center;
}
.header .start-a-career-blue-logo img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: block;
}

@media screen {
    .header {
        height: 60px;
    }
    .header .header__logo img {
        max-height: 50px;
    }
}