#jobs {
	background: var(--theme-white);
}
#jobs .title {
	text-align: center;
}
#jobs .container-small {
	margin: 0 auto;
	width: 100%;
	max-width: 770px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
#jobs .container-small > div{
	width: 50%;
}
#jobs .img {
	display: flex;
	justify-content: center;
	align-items: center;
}
#jobs .img img {
	/*width: 340px;*/
}
#jobs .list {
	padding-left: calc(4 * var(--gap));
}
#jobs .list .item {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
#jobs .list .item:not(:last-child) {
	margin-bottom: calc(1 * var(--gap));
}
#jobs .list .item .icon {
	padding: calc(0.5 * var(--gap));
	border-radius: calc(0.5 * var(--gap));
	background: #FFC731;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 65px;
	min-width: 65px;
	aspect-ratio: 1/1;
	margin-right: calc(0.5 * var(--gap));
}
#jobs .list .item h5 {
	margin-bottom: calc(0.25 * var(--gap));
	font-weight: 600;
}
#jobs .list .item p {
	font-size: calc(1rem - 3px)
}

@media screen and (max-width: 991px) {
	#jobs .container-small {
		max-width: 283px;
	}
	#jobs .container-small > div{
		width: 100%;
	}
	#jobs .img {
		order: 2;
	}
	#jobs .img img {
        margin-top: 20px;
		/*width: 236px;*/
	}
	#jobs .list {
		order: 1;
		padding-left: 0;
	}
}