.main {
	display: none;
	opacity: 0;
	/*display: flex;*/
	flex-direction: column;
	width: 100%;
	transition: 0.6s;
}
.main.active {
	display: flex;
}
.main-top {
	min-height: 45vh;
    min-height: calc(var(--vh, 1vh) * 45);
	width: 100%;
	background: var(--theme-black);
	position: relative;
	z-index: 1;
	transition: 0.3s;
}
.main-top.min {
	min-height: 30vh;
    min-height: calc(var(--vh, 1vh) * 30);
}
.main-bottom {
	min-height: 55vh;
    min-height: calc(var(--vh, 1vh) * 55);
	width: 100%;
	background: var(--theme-white);
	position: relative;
	z-index: 2;
	padding: 0 20px 20px 20px;
	transition: 0.3s;
}
.main-bottom.max {
	min-height: 70vh;
    min-height: calc(var(--vh, 1vh) * 70);
}
.main-bottom > svg {
	width: 100%;
	height: auto;
	transform: translateY(-30%);
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
}

.roulette-girl {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: var(--theme-orange);
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.roulette-girl img {
	object-fit: contain;
	object-position: center bottom;
	max-height: 100%;
	max-width: 100%;
}

.roulette-button {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 3;
	margin-top: 20px;
}

.roulette-circle {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	/*transform: translateY(-50%);*/
	/*margin-bottom: -50%;*/
	margin-top: -50%;
}
.roulette-circle > .spinner {
	/*max-width: 100%;*/
	position: relative;
	z-index: 1;
	transition: 6s ease;
	transform: rotate(0deg);
}
.roulette-circle > .spinner[data-roll="0"] {
	transform: rotate(-60deg);
}
.roulette-circle > .spinner[data-roll="1"] {
	transform: rotate(3690deg);
}
.roulette-circle > .spinner[data-roll="2"] {
	transform: rotate(7170deg);
}
.roulette-circle > .spinner[data-roll="3"] {
	transform: rotate(10830deg);
}
.roulette-circle > .spin-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background: transparent;
	padding: 0;
	margin: 0;
	border: 0;
	z-index: 2;
}




.congratulation {
	display: none;
}
.congratulation > div{
	display: none;
}
.congratulation > div[data-step="1"] {
	display: block;
}
.main-top .congratulation > div[data-step="1"] {
	display: block;
	max-width: 240px;
	margin: 0 auto;
}
.main-top .congratulation > div[data-step="2"] {
	max-width: 290px;
	margin: 0 auto;
}
.main-top .congratulation > div[data-step="3"] {
	max-width: 290px;
	margin: 0 auto;
}
.congratulation .button {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 10;
}
.congratulation .button .btn {
	display: none;
}
.congratulation .button .btn-open {
	display: block;
}

.main-top .congratulation {
	padding: 20px 20px 50px 20px;
	height: 100%;
	color: var(--theme-white);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.main-top .congratulation .title {
	margin-bottom: 10px;
}
.main-top .congratulation ul {
	text-align: left;
	max-width: 300px;
}
.main-top .congratulation ul > li:not(:last-child) {
	margin-bottom: 5px;
}
.congratulation > div  {

}


.main-bottom .image{
	width: 330px;
	height: 214px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	margin-top: 0;
	transition: 0.6s;
}
.main-bottom .image.max {
	height: 320px;
}
.main-bottom .input {
	display: none;
	margin-bottom: 20px;
	max-width: 285px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 10;
}
.main-bottom .input input {
	padding: 14px 20px 14px 20px;
	width: 100%;
	border-radius: var(--b-rad-sm);
	border: 1px solid var(--theme-gray);
	transition: 0.3s;
	font: inherit;
}
.main-bottom .input input.error {
	border: 1px solid var(--theme-red);
}
.main-bottom .input input.error::placeholder{
	color: var(--theme-red);
}
.main-bottom .input input::placeholder {
	color: var(--theme-gray);
	font: inherit;
}
.main-bottom .rules {
	font-size: calc(1rem - 4px);
	text-align: center;
	display: none;
	margin-bottom: 20px;
	max-width: 285px;
	margin-left: auto;
	margin-right: auto;
}

.main-bottom .image .box{
	position: absolute;
	z-index: 3;
}
.main-bottom .image .cards {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
	z-index: 2;
	transition: 3s;
}
.main-bottom .image .card {
	/*margin-top: 80px;*/
	padding: 10px;
	width: calc(50% - 15px);
	margin-bottom: 0;
	transform: scale(0.75 , 0.75);
	z-index: -1;
	transition: 1.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 160px;
	height: 109.17px;
}
.main-bottom .image .card img {
	width: 100%;
	transition: 0.3s;
	box-shadow: 0px 0px 0px -3px #FFC700;
	border-radius: 6px;

}
.main-bottom .image .card[data-offer="1"] {
	transform: scale(0.75 , 0.75) translateY(calc(100% + 80px)) translateX(calc(50% + 15px));
}
.main-bottom .image .card[data-offer="2"] {
	transform: scale(0.75 , 0.75) translateY(calc(100% + 60px)) translateX(calc(-50% - 25px));
}
.main-bottom .image .card[data-offer="3"] {
	transform: scale(0.75 , 0.75) translateY(calc(0% + 20px))  translateX(calc(50% + 15px));
}
.main-bottom .image .card[data-offer="4"] {
	transform: scale(0.75 , 0.75) translateY(calc(0% + 10px)) translateX(calc(-50% - 25px));
}
.main-bottom .image .card[data-offer="5"] {
	transform: scale(0.75 , 0.75) translateY(-100%) translateX(calc(50% + 30px));
}
.main-bottom .image .card[data-offer="6"] {
	transform: scale(0.75 , 0.75) translateY(-100%)translateX(calc(-50% - 15px));
}
.main-bottom .image .card.active img,
.main-bottom .image .card:hover img{
	box-shadow:  0px 0px 8px 5px #FFC700;
}

#gift-box-top,
#gift-box-bottom {
	transition: 0.3s;
}



circle {
	opacity: 0;
	animation: dash var(--duration) var(--delay) linear var(--direction) infinite
		forwards;
}

@keyframes dash {
	10% {
		opacity: 1;
	}
	20% {
		opacity: 1;
	}
	30% {
		opacity: 0;
	}
	50% {
		opacity: 0;
		stroke-dashoffset: 0;
	}
	100% {
		opacity: 0;
		stroke-dashoffset: 0;
	}
}


#confetti {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.spin-count {
	background: #F7F3E4;
	margin-top: 30px;
	text-align: center;
	padding: 10px;
	width: calc(100% + 40px);
	margin-left: -20px;
	color: var(--theme-gray);
	font-weight: 700;
	font-size: calc(1rem - 2px);
}
.spin-count strong {
	color: var(--theme-black);
}
.spin-count span {
	color: var(--theme-red);
}


@keyframes hithere {
  30% { transform: scale(1.05); }
  40%, 60% { transform: rotate(-20deg) scale(1.05); }
  50% { transform: rotate(20deg) scale(1.05); }
  70% { transform: rotate(0deg) scale(1.05); }
  100% { transform: scale(1); }
}
.hithere {
  animation: hithere 1.05s ease infinite;
}