img:is([sizes=auto i],[sizes^="auto," i]) {
    contain-intrinsic-size: 3000px 1500px
}

img.emoji {
    display: inline!important;
    border: none!important;
    box-shadow: none!important;
    height: 1em!important;
    width: 1em!important;
    margin: 0 .07em!important;
    vertical-align: -.1em!important;
    background: 0 0!important;
    padding: 0!important
}

:where(.wp-block-button__link) {
    border-radius: 9999px;
    box-shadow: none;
    padding: calc(.667em + 2px) calc(1.333em + 2px);
    text-decoration: none
}

:root :where(.wp-block-button .wp-block-button__link.is-style-outline),:root :where(.wp-block-button.is-style-outline>.wp-block-button__link) {
    border: 2px solid;
    padding: .667em 1.333em
}

:root :where(.wp-block-button .wp-block-button__link.is-style-outline:not(.has-text-color)),:root :where(.wp-block-button.is-style-outline>.wp-block-button__link:not(.has-text-color)) {
    color: currentColor
}

:root :where(.wp-block-button .wp-block-button__link.is-style-outline:not(.has-background)),:root :where(.wp-block-button.is-style-outline>.wp-block-button__link:not(.has-background)) {
    background-color: initial;
    background-image: none
}

:where(.wp-block-calendar table:not(.has-background) th) {
    background: #ddd
}

:where(.wp-block-columns) {
    margin-bottom: 1.75em
}

:where(.wp-block-columns.has-background) {
    padding: 1.25em 2.375em
}

:where(.wp-block-post-comments input[type=submit]) {
    border: none
}

:where(.wp-block-cover-image:not(.has-text-color)),:where(.wp-block-cover:not(.has-text-color)) {
    color: #fff
}

:where(.wp-block-cover-image.is-light:not(.has-text-color)),:where(.wp-block-cover.is-light:not(.has-text-color)) {
    color: #000
}

:root :where(.wp-block-cover h1:not(.has-text-color)),:root :where(.wp-block-cover h2:not(.has-text-color)),:root :where(.wp-block-cover h3:not(.has-text-color)),:root :where(.wp-block-cover h4:not(.has-text-color)),:root :where(.wp-block-cover h5:not(.has-text-color)),:root :where(.wp-block-cover h6:not(.has-text-color)),:root :where(.wp-block-cover p:not(.has-text-color)) {
    color: inherit
}

:where(.wp-block-file) {
    margin-bottom: 1.5em
}

:where(.wp-block-file__button) {
    border-radius: 2em;
    display: inline-block;
    padding: .5em 1em
}

:where(.wp-block-file__button):is(a):active,:where(.wp-block-file__button):is(a):focus,:where(.wp-block-file__button):is(a):hover,:where(.wp-block-file__button):is(a):visited {
    box-shadow: none;
    color: #fff;
    opacity: .85;
    text-decoration: none
}

:where(.wp-block-group.wp-block-group-is-layout-constrained) {
    position: relative
}

h2.has-background {
    padding: 1.25em 2.375em
}

:root :where(.wp-block-image.is-style-rounded img,.wp-block-image .is-style-rounded img) {
    border-radius: 9999px
}

:where(.wp-block-latest-comments:not([style*=line-height] .wp-block-latest-comments__comment)) {
    line-height: 1.1
}

:where(.wp-block-latest-comments:not([style*=line-height] .wp-block-latest-comments__comment-excerpt p)) {
    line-height: 1.8
}

:root :where(.wp-block-latest-posts.is-grid) {
    padding: 0
}

:root :where(.wp-block-latest-posts.wp-block-latest-posts__list) {
    padding-left: 0
}

ul {
    box-sizing: border-box
}

:root :where(.wp-block-list.has-background) {
    padding: 1.25em 2.375em
}

.wp-block-navigation {
    position: relative;
    --navigation-layout-justification-setting: flex-start;
    --navigation-layout-direction: row;
    --navigation-layout-wrap: wrap;
    --navigation-layout-justify: flex-start;
    --navigation-layout-align: center
}

.wp-block-navigation ul {
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    padding-left: 0
}

.wp-block-navigation ul,.wp-block-navigation ul li {
    list-style: none;
    padding: 0
}

.wp-block-navigation .wp-block-navigation-item {
    align-items: center;
    display: flex;
    position: relative
}

.wp-block-navigation .wp-block-navigation-item__content {
    display: block
}

.wp-block-navigation .wp-block-navigation-item__content.wp-block-navigation-item__content {
    color: inherit
}

.wp-block-navigation :where(a),.wp-block-navigation :where(a:active),.wp-block-navigation :where(a:focus) {
    text-decoration: none
}

.wp-block-navigation.items-justified-center {
    --navigation-layout-justification-setting: center;
    --navigation-layout-justify: center
}

.wp-block-navigation__container {
    gap: inherit
}

:where(.wp-block-navigation.has-background .wp-block-navigation-item a:not(.wp-element-button)),:where(.wp-block-navigation.has-background .wp-block-navigation-submenu a:not(.wp-element-button)) {
    padding: .5em 1em
}

:where(.wp-block-navigation .wp-block-navigation__submenu-container .wp-block-navigation-item a:not(.wp-element-button)),:where(.wp-block-navigation .wp-block-navigation__submenu-container .wp-block-navigation-submenu a:not(.wp-element-button)),:where(.wp-block-navigation .wp-block-navigation__submenu-container .wp-block-navigation-submenu button.wp-block-navigation-item__content),:where(.wp-block-navigation .wp-block-navigation__submenu-container .wp-block-pages-list__item button.wp-block-navigation-item__content) {
    padding: .5em 1em
}

.wp-block-navigation__container {
    align-items: var(--navigation-layout-align,initial);
    display: flex;
    flex-direction: var(--navigation-layout-direction,initial);
    flex-wrap: var(--navigation-layout-wrap,wrap);
    justify-content: var(--navigation-layout-justify,initial);
    list-style: none;
    margin: 0;
    padding-left: 0
}

.wp-block-navigation__container:only-child {
    flex-grow: 1
}

.wp-block-navigation .wp-block-navigation-item__label {
    overflow-wrap: break-word
}

.wp-block-navigation .wp-block-navigation-item {
    background-color: inherit
}

:root :where(p.has-background) {
    padding: 1.25em 2.375em
}

:where(p.has-text-color:not(.has-link-color)) a {
    color: inherit
}

:where(.wp-block-post-comments-form) input:not([type=submit]),:where(.wp-block-post-comments-form) textarea {
    border: 1px solid #949494;
    font-family: inherit;
    font-size: 1em
}

:where(.wp-block-post-comments-form) input:where(:not([type=submit]):not([type=checkbox])),:where(.wp-block-post-comments-form) textarea {
    padding: calc(.667em + 2px)
}

:where(.wp-block-post-excerpt) {
    box-sizing: border-box;
    margin-bottom: var(--wp--style--block-gap);
    margin-top: var(--wp--style--block-gap)
}

:where(.wp-block-preformatted.has-background) {
    padding: 1.25em 2.375em
}

:where(.wp-block-search__button) {
    border: 1px solid #ccc;
    padding: 6px 10px
}

:where(.wp-block-search__input) {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    text-transform: inherit
}

:where(.wp-block-search__button-inside .wp-block-search__inside-wrapper) {
    border: 1px solid #949494;
    box-sizing: border-box;
    padding: 4px
}

:where(.wp-block-search__button-inside .wp-block-search__inside-wrapper) .wp-block-search__input {
    border: none;
    border-radius: 0;
    padding: 0 4px
}

:where(.wp-block-search__button-inside .wp-block-search__inside-wrapper) .wp-block-search__input:focus {
    outline: 0
}

:where(.wp-block-search__button-inside .wp-block-search__inside-wrapper) :where(.wp-block-search__button) {
    padding: 4px 8px
}

.wp-block-separator {
    border: none;
    border-top: 2px solid
}

:root :where(.wp-block-separator.is-style-dots) {
    height: auto;
    line-height: 1;
    text-align: center
}

:root :where(.wp-block-separator.is-style-dots):before {
    color: currentColor;
    content: "···";
    font-family: serif;
    font-size: 1.5em;
    letter-spacing: 2em;
    padding-left: 2em
}

:root :where(.wp-block-site-logo.is-style-rounded) {
    border-radius: 9999px
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link {
    background-color: #f0f0f0;
    color: #444
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-amazon {
    background-color: #f90;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-bandcamp {
    background-color: #1ea0c3;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-behance {
    background-color: #0757fe;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-bluesky {
    background-color: #0a7aff;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-codepen {
    background-color: #1e1f26;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-deviantart {
    background-color: #02e49b;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-discord {
    background-color: #5865f2;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-dribbble {
    background-color: #e94c89;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-dropbox {
    background-color: #4280ff;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-etsy {
    background-color: #f45800;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-facebook {
    background-color: #0866ff;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-fivehundredpx {
    background-color: #000;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-flickr {
    background-color: #0461dd;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-foursquare {
    background-color: #e65678;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-github {
    background-color: #24292d;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-goodreads {
    background-color: #eceadd;
    color: #382110
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-google {
    background-color: #ea4434;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-gravatar {
    background-color: #1d4fc4;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-instagram {
    background-color: #f00075;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-lastfm {
    background-color: #e21b24;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-linkedin {
    background-color: #0d66c2;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-mastodon {
    background-color: #3288d4;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-medium {
    background-color: #000;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-meetup {
    background-color: #f6405f;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-patreon {
    background-color: #000;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-pinterest {
    background-color: #e60122;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-pocket {
    background-color: #ef4155;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-reddit {
    background-color: #ff4500;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-skype {
    background-color: #0478d7;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-snapchat {
    background-color: #fefc00;
    color: #fff;
    stroke: #000
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-soundcloud {
    background-color: #ff5600;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-spotify {
    background-color: #1bd760;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-telegram {
    background-color: #2aabee;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-threads {
    background-color: #000;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-tiktok {
    background-color: #000;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-tumblr {
    background-color: #011835;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-twitch {
    background-color: #6440a4;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-twitter {
    background-color: #1da1f2;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-vimeo {
    background-color: #1eb7ea;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-vk {
    background-color: #4680c2;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-wordpress {
    background-color: #3499cd;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-whatsapp {
    background-color: #25d366;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-x {
    background-color: #000;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-yelp {
    background-color: #d32422;
    color: #fff
}

:where(.wp-block-social-links:not(.is-style-logos-only)) .wp-social-link-youtube {
    background-color: red;
    color: #fff
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link {
    background: 0 0
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link svg {
    height: 1.25em;
    width: 1.25em
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-amazon {
    color: #f90
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-bandcamp {
    color: #1ea0c3
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-behance {
    color: #0757fe
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-bluesky {
    color: #0a7aff
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-codepen {
    color: #1e1f26
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-deviantart {
    color: #02e49b
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-discord {
    color: #5865f2
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-dribbble {
    color: #e94c89
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-dropbox {
    color: #4280ff
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-etsy {
    color: #f45800
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-facebook {
    color: #0866ff
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-fivehundredpx {
    color: #000
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-flickr {
    color: #0461dd
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-foursquare {
    color: #e65678
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-github {
    color: #24292d
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-goodreads {
    color: #382110
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-google {
    color: #ea4434
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-gravatar {
    color: #1d4fc4
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-instagram {
    color: #f00075
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-lastfm {
    color: #e21b24
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-linkedin {
    color: #0d66c2
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-mastodon {
    color: #3288d4
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-medium {
    color: #000
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-meetup {
    color: #f6405f
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-patreon {
    color: #000
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-pinterest {
    color: #e60122
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-pocket {
    color: #ef4155
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-reddit {
    color: #ff4500
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-skype {
    color: #0478d7
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-snapchat {
    color: #fff;
    stroke: #000
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-soundcloud {
    color: #ff5600
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-spotify {
    color: #1bd760
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-telegram {
    color: #2aabee
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-threads {
    color: #000
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-tiktok {
    color: #000
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-tumblr {
    color: #011835
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-twitch {
    color: #6440a4
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-twitter {
    color: #1da1f2
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-vimeo {
    color: #1eb7ea
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-vk {
    color: #4680c2
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-whatsapp {
    color: #25d366
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-wordpress {
    color: #3499cd
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-x {
    color: #000
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-yelp {
    color: #d32422
}

:where(.wp-block-social-links.is-style-logos-only) .wp-social-link-youtube {
    color: red
}

:root :where(.wp-block-social-links .wp-social-link a) {
    padding: .25em
}

:root :where(.wp-block-social-links.is-style-logos-only .wp-social-link a) {
    padding: 0
}

:root :where(.wp-block-social-links.is-style-pill-shape .wp-social-link a) {
    padding-left: .6666666667em;
    padding-right: .6666666667em
}

:root :where(.wp-block-tag-cloud.is-style-outline) {
    display: flex;
    flex-wrap: wrap;
    gap: 1ch
}

:root :where(.wp-block-tag-cloud.is-style-outline a) {
    border: 1px solid;
    font-size: unset!important;
    margin-right: 0;
    padding: 1ch 2ch;
    text-decoration: none!important
}

:root :where(.wp-block-table-of-contents) {
    box-sizing: border-box
}

:where(.wp-block-term-description) {
    box-sizing: border-box;
    margin-bottom: var(--wp--style--block-gap);
    margin-top: var(--wp--style--block-gap)
}

:where(pre.wp-block-verse) {
    font-family: inherit
}

.entry-content {
    counter-reset: footnotes
}

:root {
    --wp--preset--font-size--normal: 16px;
    --wp--preset--font-size--huge: 42px
}

.items-justified-center {
    justify-content: center
}

.screen-reader-text {
    border: 0;
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal!important
}

.screen-reader-text:focus {
    background-color: #ddd;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000
}

html :where(.has-border-color) {
    border-style: solid
}

html :where([style*=border-top-color]) {
    border-top-style: solid
}

html :where([style*=border-right-color]) {
    border-right-style: solid
}

html :where([style*=border-bottom-color]) {
    border-bottom-style: solid
}

html :where([style*=border-left-color]) {
    border-left-style: solid
}

html :where([style*=border-width]) {
    border-style: solid
}

html :where([style*=border-top-width]) {
    border-top-style: solid
}

html :where([style*=border-right-width]) {
    border-right-style: solid
}

html :where([style*=border-bottom-width]) {
    border-bottom-style: solid
}

html :where([style*=border-left-width]) {
    border-left-style: solid
}

html :where(img[class*=wp-image-]) {
    height: auto;
    max-width: 100%
}

:where(figure) {
    margin: 0 0 1em
}

html :where(.is-position-sticky) {
    --wp-admin--admin-bar--position-offset: var(--wp-admin--admin-bar--height,0px)
}

@media screen and (max-width: 600px) {
    html :where(.is-position-sticky) {
        --wp-admin--admin-bar--position-offset:0px
    }
}

:root {
    --wp--preset--aspect-ratio--square: 1;
    --wp--preset--aspect-ratio--4-3: 4/3;
    --wp--preset--aspect-ratio--3-4: 3/4;
    --wp--preset--aspect-ratio--3-2: 3/2;
    --wp--preset--aspect-ratio--2-3: 2/3;
    --wp--preset--aspect-ratio--16-9: 16/9;
    --wp--preset--aspect-ratio--9-16: 9/16;
    --wp--preset--color--black: #000000;
    --wp--preset--color--cyan-bluish-gray: #abb8c3;
    --wp--preset--color--white: #ffffff;
    --wp--preset--color--pale-pink: #f78da7;
    --wp--preset--color--vivid-red: #cf2e2e;
    --wp--preset--color--luminous-vivid-orange: #ff6900;
    --wp--preset--color--luminous-vivid-amber: #fcb900;
    --wp--preset--color--light-green-cyan: #7bdcb5;
    --wp--preset--color--vivid-green-cyan: #00d084;
    --wp--preset--color--pale-cyan-blue: #8ed1fc;
    --wp--preset--color--vivid-cyan-blue: #0693e3;
    --wp--preset--color--vivid-purple: #9b51e0;
    --wp--preset--color--contrast: var(--contrast);
    --wp--preset--color--contrast-2: var(--contrast-2);
    --wp--preset--color--contrast-3: var(--contrast-3);
    --wp--preset--color--base: var(--base);
    --wp--preset--color--base-2: var(--base-2);
    --wp--preset--color--base-3: var(--base-3);
    --wp--preset--color--accent: var(--accent);
    --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg,rgba(6, 147, 227, 1) 0%,rgb(155, 81, 224) 100%);
    --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg,rgb(122, 220, 180) 0%,rgb(0, 208, 130) 100%);
    --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg,rgba(252, 185, 0, 1) 0%,rgba(255, 105, 0, 1) 100%);
    --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg,rgba(255, 105, 0, 1) 0%,rgb(207, 46, 46) 100%);
    --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg,rgb(238, 238, 238) 0%,rgb(169, 184, 195) 100%);
    --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg,rgb(74, 234, 220) 0%,rgb(151, 120, 209) 20%,rgb(207, 42, 186) 40%,rgb(238, 44, 130) 60%,rgb(251, 105, 98) 80%,rgb(254, 248, 76) 100%);
    --wp--preset--gradient--blush-light-purple: linear-gradient(135deg,rgb(255, 206, 236) 0%,rgb(152, 150, 240) 100%);
    --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,rgb(254, 205, 165) 0%,rgb(254, 45, 45) 50%,rgb(107, 0, 62) 100%);
    --wp--preset--gradient--luminous-dusk: linear-gradient(135deg,rgb(255, 203, 112) 0%,rgb(199, 81, 192) 50%,rgb(65, 88, 208) 100%);
    --wp--preset--gradient--pale-ocean: linear-gradient(135deg,rgb(255, 245, 203) 0%,rgb(182, 227, 212) 50%,rgb(51, 167, 181) 100%);
    --wp--preset--gradient--electric-grass: linear-gradient(135deg,rgb(202, 248, 128) 0%,rgb(113, 206, 126) 100%);
    --wp--preset--gradient--midnight: linear-gradient(135deg,rgb(2, 3, 129) 0%,rgb(40, 116, 252) 100%);
    --wp--preset--font-size--small: 13px;
    --wp--preset--font-size--medium: 20px;
    --wp--preset--font-size--large: 36px;
    --wp--preset--font-size--x-large: 42px;
    --wp--preset--spacing--20: 0.44rem;
    --wp--preset--spacing--30: 0.67rem;
    --wp--preset--spacing--40: 1rem;
    --wp--preset--spacing--50: 1.5rem;
    --wp--preset--spacing--60: 2.25rem;
    --wp--preset--spacing--70: 3.38rem;
    --wp--preset--spacing--80: 5.06rem;
    --wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, .2);
    --wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, .4);
    --wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, .2);
    --wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1),6px 6px rgba(0, 0, 0, 1);
    --wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1)
}

:where(.is-layout-flex) {
    gap: .5em
}

:where(.is-layout-grid) {
    gap: .5em
}

body .is-layout-flex {
    display: flex
}

.is-layout-flex {
    flex-wrap: wrap;
    align-items: center
}

.is-layout-flex>:is(*,div) {
    margin: 0
}

.has-small-font-size {
    font-size: var(--wp--preset--font-size--small)!important
}

:where(.wp-block-post-template.is-layout-flex) {
    gap: 1.25em
}

:where(.wp-block-post-template.is-layout-grid) {
    gap: 1.25em
}

:where(.wp-block-columns.is-layout-flex) {
    gap: 2em
}

:where(.wp-block-columns.is-layout-grid) {
    gap: 2em
}

:root :where(.wp-block-pullquote) {
    font-size: 1.5em;
    line-height: 1.6
}

body,h2,hr,html,li,p,ul {
    margin: 0;
    padding: 0;
    border: 0
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

main {
    display: block
}

html {
    box-sizing: border-box
}

*,::after,::before {
    box-sizing: inherit
}

::-moz-focus-inner {
    border-style: none;
    padding: 0
}

body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 400;
    text-transform: none;
    font-size: 17px;
    line-height: 1.5
}

p {
    margin-bottom: 1.5em
}

h2 {
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit
}

hr {
    background-color: rgba(0,0,0,.1);
    border: 0;
    height: 1px;
    margin-bottom: 40px;
    margin-top: 40px
}

h2 {
    font-size: 35px;
    margin-bottom: 20px;
    line-height: 1.2em;
    font-weight: 400;
    text-transform: none
}

ul {
    margin: 0 0 1.5em 3em
}

ul {
    list-style: disc
}

li>ul {
    margin-bottom: 0;
    margin-left: 1.5em
}

strong {
    font-weight: 700
}

img {
    height: auto;
    max-width: 100%
}

a {
    transition: color .1s ease-in-out,background-color .1s ease-in-out
}

a {
    text-decoration: none
}

.using-mouse :focus {
    outline: 0
}

.using-mouse ::-moz-focus-inner {
    border: 0
}

.screen-reader-text {
    border: 0;
    clip: rect(1px,1px,1px,1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute!important;
    width: 1px;
    word-wrap: normal!important
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
    clip: auto!important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: .875rem;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000
}

.entry-content:not(:first-child) {
    margin-top: 2em
}

.site-content {
    word-wrap: break-word
}

.entry-content>p:last-child {
    margin-bottom: 0
}

object {
    max-width: 100%
}

.site-content {
    display: flex
}

.grid-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px
}

.site-main>* {
    margin-bottom: 20px
}

.separate-containers .inside-article {
    padding: 40px
}

.separate-containers .site-main {
    margin: 20px
}

.separate-containers.no-sidebar .site-main {
    margin-left: 0;
    margin-right: 0
}

.separate-containers .site-main>:last-child {
    margin-bottom: 0
}

.full-width-content .container.grid-container {
    max-width: 100%
}

.full-width-content.no-sidebar.separate-containers .site-main {
    margin: 0
}

.full-width-content.separate-containers .inside-article {
    padding: 0
}

.container.grid-container {
    width: auto
}

body {
    background-color: #d3d8e9;
    color: var(--contrast)
}

a {
    color: var(--accent)
}

a {
    text-decoration: underline
}

a:active,a:focus,a:hover {
    color: var(--contrast)
}

:root {
    --contrast: #222222;
    --contrast-2: #575760;
    --contrast-3: #b2b2be;
    --base: #f0f0f0;
    --base-2: #f7f8f9;
    --base-3: #ffffff;
    --accent: #1e73be
}

.separate-containers .inside-article {
    background-color: var(--base-3)
}

:root {
    --gp-search-modal-bg-color: var(--base-3);
    --gp-search-modal-text-color: var(--contrast);
    --gp-search-modal-overlay-bg-color: rgba(0, 0, 0, .2)
}

@media (max-width: 768px) {
    a,body {
        transition:all 0s ease-in-out
    }

    .site-content {
        flex-direction: column
    }

    .container .site-content .content-area {
        width: auto
    }

    #main {
        margin-left: 0;
        margin-right: 0
    }

    body:not(.no-sidebar) #main {
        margin-bottom: 0
    }

    .separate-containers .inside-article {
        padding: 30px
    }
}

.site-content .content-area {
    width: 100%
}

:root {
    --gb-container-width: 1200px
}

.gb-element-b5f7be8a {
    background-color: #d3d8e9;
    padding-bottom: 30px;
    padding-top: 20px;
    width: 100%
}

@media (max-width: 767px) {
    .gb-element-b5f7be8a {
        padding:5px
    }
}

.gb-element-c19d47a5 {
    background-color: #fff;
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,.1);
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 1120px;
    border-radius: 0;
    padding: 1.5rem 1.5rem 2.5rem
}

@media (max-width: 767px) {
    .gb-element-c19d47a5 {
        border-radius:0;
        padding: 1.1rem
    }
}

.gb-element-6411fd1d {
    background-color: #692164;
    margin-bottom: 20px;
    padding: 20px
}

.gb-element-b1038911 {
    column-gap: 2em;
    display: inline-flex;
    grid-template-columns: 1fr 3fr;
    margin-top: 20px;
    row-gap: 1.5em
}

.gb-element-bd1db0bb {
    text-align: center;
    width: 35%
}

@media (max-width: 1024px) {
    .gb-element-bd1db0bb {
        width:35%
    }
}

@media (max-width: 767px) {
    .gb-element-6411fd1d {
        padding-left:15px;
        padding-right: 15px
    }

    .gb-element-b1038911 {
        display: grid;
        grid-template-columns: 1fr
    }

    .gb-element-bd1db0bb {
        width: 100%
    }
}

.gb-element-55812f45 {
    width: 65%
}

@media (max-width: 1024px) {
    .gb-element-55812f45 {
        width:65%
    }
}

.gb-element-5f099a38 {
    background-color: #f7f7f7;
    margin-bottom: 40px;
    padding: 20px
}

.gb-element-d72c9609 {
    column-gap: 1em;
    display: grid;
    grid-template-columns: 1fr 3fr;
    row-gap: 1em
}

@media (max-width: 767px) {
    .gb-element-55812f45 {
        width:100%
    }

    .gb-element-5f099a38 {
        background-color: #f7f7f7
    }

    .gb-element-d72c9609 {
        grid-template-columns: 1fr
    }
}

.gb-element-8ebab086 {
    column-gap: 1em;
    display: grid;
    grid-template-columns: 1fr 3fr;
    row-gap: 1em
}

@media (max-width: 767px) {
    .gb-element-8ebab086 {
        grid-template-columns:1fr
    }
}

.gb-element-4c67c503 {
    column-gap: 1em;
    display: grid;
    grid-template-columns: 1fr 3fr;
    row-gap: 1em
}

.gb-element-f747d29c {
    background-color: var(--base-3);
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    width: 100%
}

.gb-element-85ec49e6 {
    align-items: center;
    align-self: center;
    background-color: var(--base-3);
    display: inline-flex;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    text-align: center;
    width: 100%;
    border-top: 1px solid var(--base);
    padding: 20px 10px
}

.gb-element-92466f54 {
    align-items: center;
    align-self: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    max-width: 100%;
    text-align: center;
    width: 850px
}

.gb-text-ee49aa0c {
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 10px;
    padding-bottom: 0;
    text-align: center
}

@media (max-width: 767px) {
    .gb-element-4c67c503 {
        grid-template-columns:1fr
    }

    .gb-text-ee49aa0c {
        font-size: 1.35rem;
        margin-bottom: 10px
    }

    .gb-text-d92e1a05 {
        margin-bottom: 0
    }
}

.gb-text-d9b9735f {
    font-size: 20px;
    margin-top: 5px
}

@media (max-width: 767px) {
    .gb-text-d9b9735f {
        font-size:16px
    }
}

.gb-text-8e9a138d {
    font-size: 20px;
    margin-top: 20px
}

@media (max-width: 767px) {
    .gb-text-8e9a138d {
        font-size:16px
    }
}

.gb-text-01b5f2a7 {
    font-size: 20px;
    margin-top: 20px
}

@media (max-width: 767px) {
    .gb-text-01b5f2a7 {
        font-size:16px
    }
}

.gb-text-d1655935 {
    font-size: 20px;
    margin-top: 20px
}

@media (max-width: 767px) {
    .gb-text-d1655935 {
        font-size:16px
    }
}

.gb-text-641b1937 {
    font-size: 20px;
    margin-top: 20px
}

@media (max-width: 767px) {
    .gb-text-641b1937 {
        font-size:16px
    }
}

.gb-text-f93c6f13 {
    font-size: 20px;
    margin-top: 20px
}

@media (max-width: 767px) {
    .gb-text-f93c6f13 {
        font-size:16px
    }
}

.gb-text-5860d058 {
    font-size: 20px;
    margin-top: 20px
}

@media (max-width: 767px) {
    .gb-text-5860d058 {
        font-size:16px
    }
}

.gb-text-7a5561ae {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 15px
}

@media (max-width: 767px) {
    .gb-text-7a5561ae {
        font-size:18px;
        line-height: 24px
    }
}

.gb-text-d5763a14 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 15px
}

@media (max-width: 767px) {
    .gb-text-d5763a14 {
        font-size:18px;
        line-height: 24px
    }
}

.gb-text-b6d600c8 {
    font-size: 20px;
    line-height: 30px
}

@media (max-width: 767px) {
    .gb-text-b6d600c8 {
        font-size:18px;
        line-height: 24px;
        margin-bottom: 0
    }
}

.gb-text-cbaa1ed1 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 15px
}

@media (max-width: 767px) {
    .gb-text-cbaa1ed1 {
        font-size:18px;
        line-height: 24px
    }
}

.gb-text-c1666b4e {
    font-size: 20px;
    line-height: 30px
}

@media (max-width: 767px) {
    .gb-text-c1666b4e {
        font-size:18px;
        line-height: 24px;
        margin-bottom: 0
    }
}

.gb-text-02e092f0 {
    font-size: 20px;
    line-height: 30px
}

@media (max-width: 767px) {
    .gb-text-02e092f0 {
        font-size:18px;
        line-height: 24px;
        margin-bottom: 0
    }
}

.gb-text-01f41eb1 {
    font-size: 20px;
    margin-top: 20px
}

@media (max-width: 767px) {
    .gb-text-01f41eb1 {
        font-size:16px
    }
}

.gb-text-b63babae {
    font-size: 20px;
    margin-top: 20px
}

@media (max-width: 767px) {
    .gb-text-b63babae {
        font-size:16px
    }
}

.gb-text-24b79d6c {
    align-items: center;
    background-color: #ffe300;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.12);
    color: #000;
    display: inline-flex;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 100px;
    padding: 10px 70px
}

.gb-text-24b79d6c:is(:hover,:focus) {
    background-color: #ffe300;
    color: #000
}

@media (max-width: 1024px) {
    .gb-text-24b79d6c {
        font-size:24px
    }

    .gb-media-a5979b72 {
        height: 475px;
        max-width: 100%;
        width: 100%
    }
}

@media (max-width: 767px) {
    .gb-text-24b79d6c {
        display:grid;
        font-size: 19px;
        line-height: 24px;
        padding: 10px 20px 12px
    }
}

.gb-text-c8f5b7b3 {
    font-size: 20px;
    margin-top: 20px
}

@media (max-width: 767px) {
    .gb-text-c8f5b7b3 {
        font-size:16px
    }
}

.gb-text-bc8710a9 {
    font-size: 14px
}

.gb-text-6402d253 {
    font-size: 14px
}

.gb-text-410b6d29 {
    font-size: 14px
}

.gb-text-0001828b {
    font-size: 14px;
    margin-top: 5px
}

.gb-media-a5979b72 {
    max-width: 100%;
    object-fit: cover
}

.gb-media-06d0b551 {
    align-items: center;
    display: block;
    height: auto;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    object-fit: cover;
    width: 50%
}

@media (max-width: 767px) {
    .gb-media-06d0b551 {
        width:100%
    }
}

.gb-media-141aab79 {
    height: auto;
    margin-bottom: 10px;
    max-width: 100%;
    object-fit: cover;
    width: auto
}

.gb-media-30f82304 {
    height: auto;
    margin-bottom: 10px;
    max-width: 100%;
    object-fit: cover;
    width: auto
}

.gb-media-1c4875e4 {
    height: auto;
    margin-bottom: 10px;
    max-width: 100%;
    object-fit: cover;
    width: auto
}

.gb-media-5f3da5ef {
    height: auto;
    max-width: 100%;
    object-fit: cover;
    width: auto
}

.gb-media-746a4e93 {
    height: auto;
    margin-bottom: 0;
    max-width: 20%;
    object-fit: cover;
    padding-bottom: 0;
    width: auto
}

@media (max-width: 767px) {
    .gb-media-746a4e93 {
        max-width:50%
    }
}

@media only screen and (max-width: 767px) {
    .footer-bar {
        position:fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: auto;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        column-gap: 15px;
        align-items: center;
        z-index: 999;
        border: 1px solid #e2e2e2
    }
}

.wp-container-core-navigation-is-layout-5590e8cb {
    justify-content: center
}

@media screen and (max-width: 767px) {
    .gb-element-85ec49e6 {
        padding-bottom: 55px;
    }
}