:root {
	--theme-black: #252525;
	--theme-dark: #1E253A;
	--theme-gray: #838690;
	--theme-white: rgba(255,255,255,1);

	--theme-green: #34C98E;
	--theme-red: #FD4C5C;
	--theme-blue: #3D87FF;
	--theme-orange: #FFB526;

	--gradient-blue: linear-gradient(180deg, #5470FF 0%, #0B69FF 100%);
	--gradient-orange: linear-gradient(270deg, #F5752D 0%, #FFAD7E 100%);

	--yellow-shadow: 0px 0px 20px -3px #FFC700;

	--b-rad-sm: 8px; 
	--b-rad-lg: 24px; 
}

html {
	font-size: 17px;
}
body {
	font: inherit;
	color: var(--theme-dark);
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	background: var(--theme-gray);
	line-height: 1.5;
}
h2 {
	font-size: 1.75rem; 	
}
h1 , h2 , h3 , h4 , h5 , h6 , a , button {
	font-weight: 600 !important;
}
h1 , h2 , h3 , h4 , h5 , h6 , label , p {
	margin-bottom: 0;
}
* {
	outline: none !important;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.row {
	margin-left: 0;
	margin-right: 0;
}

.btn {
	font-size: 1rem;
	font-weight: 700px;
	background: var(--theme-black);
	color: var(--theme-white) !important;
    padding: 16px 30px 14px 30px;
    border-radius: var(--b-rad-sm);
    text-decoration: none !important;
    border: 0;
    box-shadow: 0 0 0 #000; 
	text-align: center;
} 
.btn-round {
    border-radius: 1000px;
}
.btn-blue {
	background: var(--gradient-blue);
	color: var(--theme-white);
}
.btn-orange {
	background: var(--gradient-orange);
	color: var(--theme-white);
}
.btn-red {
	background: var(--theme-red);
	color: var(--theme-white);
	width: 100%;
	max-width: 240px;
}
.btn-green {
	background: var(--theme-green);
	color: var(--theme-white);
	width: 100%;
	max-width: 240px;
}
.btn-green:disabled {
	opacity: 0.5;
}
.screen {
	min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    max-width: 500px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    background: var(--theme-white);
}

.theme-color {
	color: var(--theme-orange);	
}