<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>OppHustle</title>

    <link rel="icon" href="img/fav.png">

    <script type="text/javascript">
		let vh = window.innerHeight * 0.01;
		document.documentElement.style.setProperty('--vh', `${vh}px`);
	</script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="js/jquery-3.6.4.min.js"></script>
    <script src="js/jquery.mask.js"></script>
    <script src="js/global.js"></script>
    <script src="js/main.js"></script>

    <script type="text/javascript" src="https://omniapostback.com/track.js?rtkcmpid=65efa334b2e18b000158470a"></script>

</head>
<body>
    
    <div class="screen">
        <header>
            <div class="container">
                <div class="row">
                    <img src="img/logo.svg" alt="">
                </div>
            </div>
        </header>
        
        <section class="hero">
            <div class="container">
                <div class="row column-2">
                    <div class="hero-title">
                        <h1 class="title">Earn Money <br> for <strong class="primary">SHEIN</strong></h1>
                        <h6 class="subtitle">Bonus Available for <strong class="info">Writing Review.</strong></h6>
                        <ul class="list">
                            <li>
                                <img class="checkbox" src="img/checkbox.svg" alt="checkbox">
                                <p>Discover the latest BRAND collections</p>
                            </li>
                            <li>
                                <img class="checkbox" src="img/checkbox.svg" alt="checkbox">
                                <p>Share feedback through fun activities</p>
                            </li>
                            <li>
                                <img class="checkbox" src="img/checkbox.svg" alt="checkbox">
                                <p>Enjoy benefits tailored to your passion for fashion</p>
                            </li>
                        </ul>
                    </div>
                    <div class="form">
                        <div class="slug">
                            <i>Shop <img src="img/dashed-line.svg" alt="dashed-line"> Play <img src="img/dashed-line.svg" alt="dashed-line"> Get Rewarded</i>
                        </div>

                        <div class="form-step active" data-step="1">
                            <div class="form-group">
                                <label for="zip">ZIP</label>
                                <input type="text" name="zip" class="form-control" id="zip" placeholder="In what zipcode?" maxlength="5">
                            </div>
                            <button type="submit" class="btn btn-primary">Start Now</button>
                        </div>
                        <div class="form-step" data-step="2">
                            <div class="form-group">
                                <label for="firstname">First Name</label>
                                <input type="text" name="firstname" class="form-control" id="firstname" placeholder="John">
                            </div>
                            <div class="form-group">
                                <label for="lastname">Last Name</label>
                                <input type="text" name="lastname" class="form-control" id="lastname" placeholder="Doe">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" name="email" class="form-control" id="email" placeholder="example@gmail.com">
                            </div>
                            <button type="submit" class="btn btn-primary">Continue</button>
                        </div>
                        <div class="form-step" data-step="3">
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input type="phone" name="phone" class="form-control" id="phone" placeholder="(000) 000-0000" autocomplete="off" maxlength="14">
                            </div>
                            <a type="submit" class="btn btn-primary" href="survey/">Submit</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section class="who-we-are">
        <div class="container">
            <div class="row">
                <div class="content">
                    <div class="text">
                        <h2 class="title">Who we are</h2>
                        <div class="img">
                            <img src="img/wwa-img.png" alt="poster">
                        </div>
                        <div class="inner">
                            <strong> Explore OppHustle: Your Pathway to Financial Prosperity and Achievement</strong>
                            <p>Welcome to OppHustle, your premier platform for discovering lucrative income opportunities. Our goal is to empower individuals across the United States by providing the tools, resources, and support necessary to capitalize on a wide range of financial possibilities.</p>
                            <p>At OppHustle, we are dedicated to providing outstanding earning opportunities, insightful resources, and exclusive deals designed to support your success. Join us today and embark on your journey toward a brighter and more rewarding future.</p>
                            <div class="btn-container">
                                <button class="btn btn-primary to-top">Start Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="img">
                        <img src="img/wwa-img.png" alt="poster">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="how-it-works">
        <div class="container">
            <div class="title">
                <h2>How It Works</h2>
            </div>
            <div class="cards">
                <div class="card">
                    <figure>
                        <img src="img/hiw1.png" alt="Sign Up">
                    </figure>
                    <div class="content">
                        <h6 class="card-title">Sign Up</h6>
                        <p class="card-text">Begin your journey with OppHustle by creating your free account today.</p>
                    </div>
                </div>
                <div class="card">
                    <figure>
                        <img src="img/hiw2.png" alt="Explore Opportunities">
                    </figure>
                    <div class="content">
                        <h6 class="card-title">Explore Opportunities</h6>
                        <p class="card-text">Discover a variety of earning opportunities tailored to different skills and interests.</p>
                    </div>
                </div>
                <div class="card">
                    <figure>
                        <img src="img/hiw3.png" alt="Start Earning">
                    </figure>
                    <div class="content">
                        <h6 class="card-title">Start Earning</h6>
                        <p class="card-text">Start exploring diverse opportunities to unlock and achieve your full earning potential.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="asked-question">
        <div class="container">
            <div class="row">
                <div class="title">
                    <h2>Frequently Asked Questions</h2>
                </div>
                <div class="content">
                    <div class="img">
                        <img src="img/question-img.png" alt="">
                    </div>
                    <div class="question-list">
                        <div class="question-item">
                            <div class="question-title">
                                <h6>What is OppHustle?</h6>
                                <figure>
                                    <img src="img/plus.svg" class="dropdown" alt="">
                                    <img src="img/minus.svg" class="dropup" alt="">
                                </figure>
                            </div>
                            <div class="text">
                                <p>OppHustle is a platform dedicated to helping individuals uncover and succeed in income-generating opportunities.</p>
                            </div>
                        </div>
                        <div class="question-item">
                            <div class="question-title">
                                <h6>Is there a fee to join OppHustle?</h6>
                                <figure>
                                    <img src="img/plus.svg" class="dropdown" alt="">
                                    <img src="img/minus.svg" class="dropup" alt="">
                                </figure>
                            </div>
                            <div class="text">
                                <p>No, signing up with OppHustle is completely free. We offer free access to exclusive opportunities and a supportive community to kickstart your journey.</p>
                            </div>
                        </div>
                        <div class="question-item">
                            <div class="question-title">
                                <h6>Do I need any prior experience to join?</h6>
                                <figure>
                                    <img src="img/plus.svg" class="dropdown" alt="">
                                    <img src="img/minus.svg" class="dropup" alt="">
                                </figure>
                            </div>
                            <div class="text">
                                <p>
                                    No prior experience is required. Our programs are designed to assist both beginners and those with experience, providing straightforward instructions to help you succeed regardless of your background.</p>
                            </div>
                        </div>
                        <div class="question-item">
                            <div class="question-title">
                                <h6>How quickly can I start earning money?</h6>
                                <figure>
                                    <img src="img/plus.svg" class="dropdown" alt="">
                                    <img src="img/minus.svg" class="dropup" alt="">
                                </figure>
                            </div>
                            <div class="text">
                                <p>The time it takes to start earning depends on the specific opportunity you choose.</p>
                            </div>
                        </div>
                        <div class="question-item">
                            <div class="question-title">
                                <h6>Is there a time limit for doing this?</h6>
                                <figure>
                                    <img src="img/plus.svg" class="dropdown" alt="">
                                    <img src="img/minus.svg" class="dropup" alt="">
                                </figure>
                            </div>
                            <div class="text">
                                <p>No, there are no time restrictions. You can proceed at your own pace, as the flexible opportunities are designed to fit effortlessly into your schedule.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <footer>
        <div class="container">
            <div class="row">
                <div class="logo">
                    <img src="img/logo.svg" alt="">
                    <nav>
                        <a href="privacy-policy/" target="_blank">Privacy Policy</a>
                        <a href="terms-of-use/" target="_blank">Terms and Conditions</a>
                        <a href="" class="mailto">Contact Us</a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="description">
                    <p>To access samples, promotions, giveaways, coupons, sweepstakes, or other offers ("Deals") via the links provided on UplevelRewards, you may need to provide your personal information, answer survey questions, and consent to communications from our marketing partners. UplevelRewards does not ensure the availability of the Deal(s) offered on our site or guarantee they will meet your expectations, as these are managed and controlled by third parties and are made available on the platform solely for your convenience.</p>
                    <p>We are not responsible for the unavailability of any Deals for any reason, including, but not limited to, changes in third-party terms and conditions, modifications to qualification criteria, service disruptions, communication failures, or any other factors that render the Deals inaccessible. We may earn compensation, at no cost to you, when you engage with third-party offers featured on our website. All third-party names, including company and service names, logos, and graphics, are trademarks or registered trademarks of their respective owners. Their use on this platform does not indicate any affiliation with or endorsement by these third parties.</p>
                </div>
            </div>
        </div>

        <div class="footer-rules">
            <div class="container">
                <div class="row">
                    <p>Copyright © <script>var currentYear = new Date().getFullYear();document.write(currentYear);</script> <span class="domain"></span></p>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>