:root {
	--black: #151515;
	--gray: #dadada;
	--chrome: #999;
	--white: #ffffff;

	--primary: #3368ed;
    --primary-light: #EDF2FF;

	--secondary: #FF8800;
	--secondary-dark: #924f02;
	--secondary-light: #fadcba;

    --info: #1193f6;
    --danger: #f9573e;

    --purple-light: #C2D3FD;
    --purple-dark: #90a1cc;
}

html {
    font-size: 18px;
}
body {
    font-family: 'Amazon Ember', sans-serif;
    font-size: inherit;
    font-weight: 400;
    background: var(--white);
}

strong {
    font-weight: 600;
}
i {
    font-style: italic;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    width: calc(100% - 30px);
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 576px) {
    .container {
        max-width:540px
    }
}

@media (min-width: 768px) {
    .container {
        max-width:720px
    }
}

@media (min-width: 992px) {
    .container {
        max-width:960px
    }
}

@media (min-width: 1200px) {
    .container {
        max-width:1371px
    }
}

.row {
    margin-left: 0;
    margin-right: 0;
}
.row > * {
    padding-left: 0;
    padding-right: 0;
}

ul, li {
    list-style-type: none;
}

.primary {
    color: var(--primary);
}
.secondary {
    color: var(--secondary);
}
.info {
    color: var(--info);
}

.btn, .btn:active, .btn:hover, .btn.focus, .btn:focus {
    width: 100%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    border-radius: 0.5rem;
    border-width: 1;
    border-style: solid;
    border-color: var(--primary);
    padding: 0.25rem 1.25rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 1.2;
    min-height: 62px;
}
.btn.btn-black {
    background: var(--black) !important;
    color: var(--white) !important;
    border-color: var(--black);
}
.btn p {
    margin-bottom: 0;
}


.screen {
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    display: flex;
    flex-direction: column;
}
section {
	padding: 3rem 0
}
@media screen and (max-width: 991px) {
    section {
        padding: 1.75rem 0
    }
}
header {
    background: transparent;
}
header .container {
    padding: 15px 0;
    background: var(--primary-light);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
header img {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    max-height: 30px;
}
@media screen and (max-width: 991px) {
    header .container {
        padding: 10px 0;
    }
    header img {
        max-height: 22px;
    }
}


.hero {
    flex-grow: 1;
    padding: 12vh 0;
}
.hero .form {
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero .form .hero-title  {
    text-align: center;
}
.hero .form .hero-title h1 {
    font-weight: 500;
    line-height: 1;
    font-size: 30px;
    margin-bottom: 1rem;
}
.hero .form .hero-title h1 strong {
    font-size: 1.75em;
    line-height: 1;
    text-transform: lowercase;
}
.hero .form .hero-title > p {
    margin-bottom: 1rem;
}

.hero .form > .list {
    max-width: 400px;
    padding: 1.5rem;
    background: var(--primary-light);
    border-radius: 0.5rem;
    color: var(--primary);
    margin-bottom: 1rem;
}
.hero .form > .list > li:not(:last-child) {
    margin-bottom: 0.5rem ;
}
.hero .form > .list li img {
    display: inline;
    transform: translateY(-2px);
    margin-right: 5px;
    min-width: 1rem;
    max-width: 1rem;
    width: 1rem;
    aspect-ratio: 1/1;
}
.hero .form > .list li p {
    margin-bottom: 0;
    display: inline;
}

.hero .form .slug-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    margin-bottom: 1rem;
}
.hero .form .slug-block .text {
    margin-bottom: 0;
}
.hero .form .slug-block .figure {
    margin:  0 0.5rem;
}

@media screen and (max-width: 991px) {
    .hero {
        padding: 1.75rem 0
    }
    .hero .form > .list {
        padding: 1rem;
    }
}
@media screen and (max-width: 500px) {
    .hero .form > .list {
        width: 100%;
    }
}

















/* end of hero section */


.au {
    background: var(--primary-light);
    margin-bottom: 3rem;
}
.au .row .row-inner * {
    margin-bottom: 0;
}

.au .row--1 .row-inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}
.au .row--1 .row-inner h2 {
    white-space: nowrap;
    margin-right: 40px;
    font-size: 64px;
    font-weight: 600;
    line-height: 1;
}

.au .row--2 {
    margin: 1.5rem 0;
}
.au .row--2 img {
    width: 100%;
    min-height: 350px;
    border-radius: 0.5rem;
    object-fit: cover;
    object-position: bottom center;
}

.au .row--3 .row-inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}
.au .row--3 .row-inner .btn-container {
    white-space: nowrap;
    margin-left: 40px;
}
.au .row--3 .row-inner .btn-container .btn {
    min-width: 350px;
    width: 350px;
}

@media screen and (max-width: 991px) {
    .au {
        background: transparent;
        font-size: 16px;
        margin-bottom: 1.75rem;
    }
    .au .container {
        background: var(--primary-light);
        border-radius: 0.5rem;
        padding: 1.5rem 1rem;
    }
    .au .row--1 .row-inner ,
    .au .row--3 .row-inner {
        flex-wrap: wrap;
    }
    .au .row--1 .row-inner h2 {
        font-size: 2rem;
        line-height: 1.4;
        margin-right: 0;
    }
    .au .row--1 .row-inner h2 , 
    .au .row--3 .row-inner p {
        margin-bottom: 1rem;
        margin-right: 0;
    }
    .au .row--3 .row-inner .btn-container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-left: 0;
    }
    .au .row--3 .row-inner .btn-container .btn {
        width: 100%;
        max-width: 350px;
        min-width: initial
    }

    .au .row--2 {
        width: calc(100% + 2rem);
        margin-left: -1rem
    }
    .au .row--2 img {
        min-height: 200px;
        border-radius: 0;
    }
}




.hiw .hiw-title {
    margin-bottom: 1.5rem;
    text-align: center;
}
.hiw .hiw-title h2 {
    white-space: nowrap;
    margin-bottom: 0;
    font-size: 64px;
    font-weight: 600;
    line-height: 1.4;
}
.hiw .hiw-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
}
.hiw .hiw-cards .card-item {
    background: var(--primary-light);
    padding: 1.5rem;
    border-radius: 0.5rem;
}
.hiw .hiw-cards .card-item figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}
.hiw .hiw-cards .card-item img {
    max-width: 80px;
    max-height: 80px;
}
.hiw .hiw-cards .card-item h4 {
    margin-bottom: 0.5rem;
    font-weight: 700;
}
.hiw .hiw-cards .card-item p {
    font-size: 16px;
    margin-bottom: 0;
}

@media screen and (max-width: 991px) {
    .hiw .hiw-title {
        margin-bottom: 1rem;
    }
    .hiw .hiw-title h2 {
        font-size: 2rem;
        line-height: 1.4;
    }
    .hiw .hiw-cards {
        max-width: 450px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
    .hiw .hiw-cards .card-item {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 1.5rem 0.75rem;
        flex-wrap: nowrap;
    }
    .hiw .hiw-cards .card-item figure {
        margin-bottom: 0;
        margin-right: 0.75rem;
        width: 60px;
        height: 60px;
    }
    .hiw .hiw-cards .card-item img {
        max-width: 60px;
        max-height: 60px;
    }
    .hiw .hiw-cards .card-item h4 {
        font-size: 21px;
    }
    
}




.faq .container {
    background: var(--primary-light);
    border-radius: 0.5rem;
    padding: 1.5rem;
}
.faq .container .row .row-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
}
.faq .faq-title {
    margin-right: 40px;
    max-width: 330px;
}
.faq .faq-title h2 {
    margin-bottom: 0;
    font-size: 64px;
    font-weight: 600;
    line-height: 1.1;
}

.faq .faq-item {
    border: 1px solid var(--black);
    border-radius: 0.5rem;
}
.faq .faq-item:not(:last-child) {
    margin-bottom: 1rem;
}
.faq .faq-item p {
    margin-bottom: 0;
    font-size: 16px;
}
.faq .faq-item .item-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
}
.faq .faq-item .item-title .dot {
    margin-right: 1rem;
    min-width: 12px;
    max-width: 12px;
    width: 12px;
    aspect-ratio: 1/1;
    border: 1px solid var(--black);
    background: transparent;
    border-radius: 1000px;
    transition: .3s;
}
.faq .faq-item.active .item-title .dot {
    background:var(--black);
}
.faq .faq-item .item-title h6 {
    margin-right: auto;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.4;
}
.faq .faq-item .item-title .figure {
    margin-left: 1rem;
}
.faq .faq-item .item-title .figure img {
    width: 1rem;
    height: 1rem;
}
.faq .faq-item .item-title .figure > img:nth-child(2) {
    display: none;
}
.faq .faq-item .item-title .figure > img:nth-child(1) {
    display: block;
}
.faq .faq-item.active .item-title .figure > img:nth-child(2) {
    display: block;
}
.faq .faq-item.active .item-title .figure > img:nth-child(1) {
    display: none;
}
.faq .faq-item .item-drop {
    padding: 0 1rem;
    transition: .3s;
    overflow: hidden;
    max-height: 0;
    font-size: 16
    px;
}
.faq .faq-item.active .item-drop {
    padding: 0 1rem 1rem 1rem;
    max-height: 500px;
}


@media screen and (max-width: 991px) {
    .faq .container {
        padding: 1.5rem 1rem;
    }
    .faq .container .row .row-inner {
        flex-direction: column;
    }
    .faq .faq-title {
        margin-right: 0;
        margin-bottom: 1rem;
        text-align: center;
        max-width: 100%;
    }
    .faq .faq-title h2 {
        font-size: 2rem;
        line-height: 1.4;
    }
    .faq .faq-item .item-title {
        padding: 0.75rem;
    }
    .faq .faq-item .item-title .dot {
        margin-right: 0.75rem;
    }
    .faq .faq-item .item-title .figure {
        margin-left: 0.75rem;
    }
    .faq .faq-item:not(:last-child) {
        margin-bottom: 1rem;
    }
}


footer {
    margin-top: 3rem;
    background: var(--primary-light);
    font-size: 14px;
}
footer .logo img {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    max-height: 30px;
}
footer a {
    color: var(--black) !important;
    text-decoration: none !important;
}
footer .container--1 {
    padding: 3rem 0;
}
footer .description {
    margin-bottom: 2rem;
}
footer .container--1 .row--2 .row-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .nav a {
    margin-left: 1rem;
}
footer .footer-bottom {
    background: var(--purple-light);
    text-align: center;
    padding: 1rem 0;
    font-size: 14px;
}
footer .footer-bottom * {
    margin-bottom: 0;
}

@media screen and (max-width: 991px) {
    footer .container--1  {
        padding: 1.75rem 0;
    }
    footer .logo img {
        max-height: 22px;
    }
}

@media screen and (max-width: 767px) {
    footer .container--1 .row--2 .row-inner {
        flex-direction: column;
    }
    footer .logo {
        margin-bottom: 1rem;
    }
    footer .nav {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    footer .nav a {
        margin: 0 0.25rem;
    }
    footer .nav a:not(:last-child) {
        margin-bottom: 0.5rem;
    }
   
}






.form-element-container {
    border: 1px solid var(--gray) !important;
    display: flex;
    position: relative;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
}
.form-element-container.error {
    border: 1px solid var(--danger) !important;
    display: flex;
    position: relative;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
}
.form-element-container .input-icon-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0px;
    top: 0px;
    width: 56px;
    background: var(--gray);
    height: 100%;
}
.form-element-container.error .input-icon-container {
    background: var(--danger);
}
.form-element-container input {
    border: 0 !important;
    background: transparent;
    padding: 12px 20px;
    min-height: 56px;
    font-size: 1rem;
    font: inherit;
    color: var(--black);
}
.form-element-container.error input {
    color: var(--danger);
}
.form-element-container input::placeholder {
    font-size: 1rem;
    font: inherit;
    color: var(--chrome);
}
.form-element-container.error input::placeholder {
    color: var(--danger);
}
.form-element-container.form-element-container--icon input {
    padding: 12px 76px 12px 20px;
}

.btn-arrow {
    justify-content: space-between !important;
    align-items: center !important;
}
.btn-primary {
    background: var(--primary);
    border: 1px solid var(--primary);
}

.question-2 ,
.question-3 {
    display: none;
}



.hero .quiz {
	display: none;
}
.hero .ty {
	padding: 40px 0;
}
.hero .ty .ty-container {
	width: 100%;
	max-width: 320px;
	text-align: center;
    margin: 0 auto;
}
.hero .ty .ty-budge {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero .ty .ty-title {
	margin-bottom: 30px;
	margin-top: 30px;
}
.hero .ty .ty-title h2 {
    font-size: 64px;
    font-weight: 700;
    line-height: 1;
}
.hero .ty .ty-text p {
	line-height: 2
}

@media screen and (max-width: 991px) {
    .hero .ty .ty-title h2 {
        font-size: 2rem;
        line-height: 1.4;
    }
}


.quiz-dots {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto 30px;
	width: 305px;
}
.quiz-dots .circle {
	border-radius: 100px;
	aspect-ratio: 1/1;
	width: 48px;
	border: 2px solid var(--secondary-light);
	margin: 0 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
}
.quiz-dots .circle p {
	padding-top: 1px;
    margin-bottom: 0;
	aspect-ratio: 1/1;
	width: 40px;
	border-radius: 1000px;
	background: rgba(0,0,0,0);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	line-height: 1;
	font-weight: 700;
	color:  var(--secondary-light);
	transition: 0.3s;
}
.quiz-dots .line {
	flex-grow: 1;
	height: 2px;
	background:  var(--secondary-light);
	border-radius: 1000px;
	transition: 0.3s;
}
.quiz-dots .circle.passed {
	border: 2px solid var(--secondary);
}
.quiz-dots .circle.passed p {
	color: var(--secondary);
}
.quiz-dots .circle.active {
	border: 2px solid var(--secondary);
}
.quiz-dots .circle.active p {
	color: var(--white);
	background: var(--secondary);
}
.quiz-dots .circle.passed + .line {
	background: var(--secondary);
}

.hero .quiz-block {
    display: none;
}
.hero .quiz-block--1 {
    display: block;
}
.hero .quiz .quiz-container {
    width: 100%;
    max-width: 645px;
    text-align: center;
    margin: 0 auto;
}
.hero .quiz-answers {
    max-width: 270px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


.hero .quiz-answers > *:not(:last-child) {
    margin-bottom: 0.75rem;
}
.hero .quiz-block-question {
    margin-bottom: 1.5rem;
}
.hero .quiz-block-question h5 {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
}
.hero .quiz-block-back {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero .quiz-block-back button {
	width: auto;
	padding-top: 0;
	padding-bottom: 0;
    margin-top: 1.5rem;
	border-radius: 1000px;
	border: 1px solid #9F9FA0;
    color: #9F9FA0;
	font-weight: 400;
	min-height: 40px;
}
.hero .quiz-block-back p {
    margin-left: 0.5rem;
}
.hero .data {
    display: block;
    margin-top: 1.5rem;
}
.hero .quiz-block--4 h3 {
    margin-bottom: 1.5rem;
    font-size: 27px;
    line-height: 1.4;
}
.hero .tags p {
    display: inline-block;
    margin-bottom: 20px;
    padding: 8px 20px;
    background: var(--secondary-light);
    color: var(--secondary-dark);
    border-radius: 1000px;
    font-weight: 600;
}