#feature-wrapper {
  transform: translateY(0px);
}
#feature-wrapper.hidden {
  transform: translateY(400px);
}
#cid-header #cid-header-container:before {
  background: url(../img/mob.png);
  background-position: center !important;
  background-size: cover !important;
}
#subbtn {
  pointer-events: none;
}
.cid-questions > input.error {
  border: 1px solid #ff2200;
}
#cid-global {
  max-width: 100%;
}
table,
tbody,
tr,
td {
  display: block;
  max-width: 100%;
}
.cid-head-info span,
.cid-logo img,
.cid-logo:after {
  max-width: 100%;
}

.cid-head-info span {
  right: 0;
  left: 100%;
  width: calc(100% - 80px);
  padding-left: 40px;
  padding-right: 40px;
}
.cid-questions > h2 {
  max-width: 100%;
}
