.intro[data-prepop="1"][data-angle="default"] .container {
	min-height: 64.5vh;
}
.intro[data-prepop="1"]:not([data-angle="default"]) .container {
	min-height: 62.5vh;
}
@media screen and (max-width: 991px) {
	.intro[data-prepop="1"].bg-non .container {
		background-image: none !important;
	}
}
@media screen and (max-width: 991px) and (max-device-height: 670px) {
	.intro[data-prepop="1"] .container {
		background-image: none !important;
	}
}

/*default*/
.intro[data-angle="default"] .container {
	background-color: rgba(0,48,173,1);
	background-image: url("../img/default_d.png");
	background-size: auto 85%;
	background-repeat: no-repeat;
	background-position: 90% bottom;
}
.intro[data-angle="default"] .title {
	color: rgba(255,255,255,1);
}
.intro[data-angle="default"] .title span {
	color: rgba(0,240,191,1);
}
.intro[data-angle="default"] .bullet-item p {
	color: rgba(255,255,255,1);
}
.intro[data-angle="default"] .bullet-item svg {
	fill: rgba(0,240,191,1);
}
.intro[data-angle="default"] .intro-link,
.intro[data-angle="default"] .question-fields > .submit button,
.intro[data-angle="default"] .question-fields > .submit a {
	background: rgba(0,240,191,1);
	color: rgba(0,0,0,1);
	box-shadow: 0 0 0 2px rgba(0,240,191,0.25);
}
.intro[data-angle="default"] .intro-link:hover,
.intro[data-angle="default"] .question-fields > .submit button:hover,
.intro[data-angle="default"] .question-fields > .submit a:hover {
	box-shadow: 0 0 0 7px rgba(0,240,191,0.25);
}

.intro[data-angle="default"] .container-form .question--2 {
    margin: calc(-4 * var(--gap-md)) 0 calc(-3 * var(--gap-md)) 0;
}
.intro[data-angle="default"] .field .field-title,
.intro[data-angle="default"] .question-fields > .field.field--rules {
	color: rgba(255,255,255,1);
}
.intro[data-angle="default"] .question-fields > .field.field--rules a {
	color: rgba(0,240,191,1);
}
@media screen and (max-width: 991px) {
	.intro[data-angle="default"] .container {
		background-image: url("../img/default_d.png");
		background-size: auto 36vh;
		background-repeat: no-repeat;
		background-position: center 105%;
	}
	.intro[data-angle="default"][data-prepop="1"] .container {
		background-image: url("../img/default_d.png");
		background-size: auto 28vh;
		background-repeat: no-repeat;
		background-position: center 105%;
	}

	.intro[data-angle="default"] .container-form .question--2 {
	    margin: 0;
	}
}
/*@media screen and (max-width: 991px) and (min-height: 670px) {
	.intro[data-angle="default"] .container {
		background-image: url("../img/default_d.png");
		background-size: 85% auto;
		background-repeat: no-repeat;
		background-position: center 105%;
	}
	.intro[data-angle="default"][data-prepop="1"] .container {}
}*/
/*default*/

/*pt*/
.intro[data-angle="pt"] .container {
	background-color: rgba(236,236,236,1);
	background-image: url("../img/pt_d.png");
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: 100% bottom;
}
.intro[data-angle="pt"] .title {
	color: rgba(0,0,0,1);
}
.intro[data-angle="pt"] .title span {
	color: rgba(253,76,92,1);
}
.intro[data-angle="pt"] .bullet-item p {
	color:rgba(0,0,0,1);
}
.intro[data-angle="pt"] .bullet-item svg {
	fill: rgba(253,76,92,1);
}
.intro[data-angle="pt"] .intro-link,
.intro[data-angle="pt"] .question-fields > .submit button,
.intro[data-angle="pt"] .question-fields > .submit a {
	background: rgba(253,76,92,1);
	color: rgba(255,255,255,1);
	box-shadow: 0 0 0 2px rgba(253,76,92,0.25);
}
.intro[data-angle="pt"] .intro-link:hover,
.intro[data-angle="pt"] .question-fields > .submit button:hover,
.intro[data-angle="pt"] .question-fields > .submit a:hover {
	box-shadow: 0 0 0 7px rgba(253,76,92,0.25);
}
.intro[data-angle="pt"] .field .field-title,
.intro[data-angle="pt"] .question-fields > .field.field--rules {
	color: rgba(0,0,0,1);
}
.intro[data-angle="pt"] .question-fields > .field.field--rules a {
	color: rgba(253,76,92,1);
}
@media screen and (max-width: 991px) {
	.intro[data-angle="pt"] .container {
		background-image: url("../img/pt_m.png");
		background-size: auto 40vh;
		background-repeat: no-repeat;
		background-position: center 101%;
	}
	.intro[data-angle="pt"][data-prepop="1"] .container {
		background-image: url("../img/pt_m.png");
		background-size: auto 34vh;
		background-repeat: no-repeat;
		background-position: center 101%;
	}
}
/*@media screen and (max-width: 991px) and (min-height: 670px) {
	.intro[data-angle="pt"] .container {
		background-image: url("../img/pt_m.png");
		background-size: 100% auto;
		background-repeat: no-repeat;
		background-position: center bottom;
	}
	.intro[data-angle="pt"][data-prepop="1"] .container {}
}*/
/*pt*/

/*pr-g*/
.intro[data-angle="pr-g"] .container {
	background-color: rgba(217,219,214,1);
	background-image: url("../img/pr-g_d.png");
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: 100% bottom;
}
.intro[data-angle="pr-g"] .title {
	color: rgba(0,0,0,1);
}
.intro[data-angle="pr-g"] .title span {
	color: rgba(252,121,0,1);
}
.intro[data-angle="pr-g"] .bullet-item p {
	color:rgba(0,0,0,1);
}
.intro[data-angle="pr-g"] .bullet-item svg {
	fill: rgba(252,121,0,1);
}
.intro[data-angle="pr-g"] .intro-link,
.intro[data-angle="pr-g"] .question-fields > .submit button,
.intro[data-angle="pr-g"] .question-fields > .submit a {
	background: rgba(252,121,0,1);
	color: rgba(255,255,255,1);
	box-shadow: 0 0 0 2px rgba(252,121,0,0.25);
}
.intro[data-angle="pr-g"] .intro-link:hover,
.intro[data-angle="pr-g"] .question-fields > .submit button:hover,
.intro[data-angle="pr-g"] .question-fields > .submit a:hover {
	box-shadow: 0 0 0 7px rgba(252,121,0,0.25);
}

.intro[data-angle="pr-g"] .field .field-title,
.intro[data-angle="pr-g"] .question-fields > .field.field--rules {
	color: rgba(0,0,0,1);
}
.intro[data-angle="pr-g"] .question-fields > .field.field--rules a {
	color: rgba(252,121,0,1);
}
@media screen and (max-width: 991px) {
	.intro[data-angle="pr-g"] .container {
		background-image: url("../img/pr-g_m.png");
		background-size: auto 36vh;
		background-repeat: no-repeat;
		background-position: center 101%;
	}
	.intro[data-angle="pr-g"][data-prepop="1"] .container {
		background-image: url("../img/pr-g_m.png");
		background-size: auto 30vh;
		background-repeat: no-repeat;
		background-position: center 101%;
	}
}
/*@media screen and (max-width: 991px) and (min-height: 670px) {
	.intro[data-angle="pr-g"] .container {}
	.intro[data-angle="pr-g"][data-prepop="1"] .container {}
}*/
/*pr-g*/

/*pr-ha*/
.intro[data-angle="pr-ha"] .container {
	background-color: rgba(232,232,232,1);
	background-image: url("../img/pr-ha_d.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 70% bottom;
}
.intro[data-angle="pr-ha"] .title {
	color: rgba(0,0,0,1);
}
.intro[data-angle="pr-ha"] .title span {
	color: rgba(0,190,53,1);
}
.intro[data-angle="pr-ha"] .bullet-item p {
	color:rgba(0,0,0,1);
}
.intro[data-angle="pr-ha"] .bullet-item svg {
	fill: rgba(0,190,53,1);
}
.intro[data-angle="pr-ha"] .intro-link,
.intro[data-angle="pr-ha"] .question-fields > .submit button,
.intro[data-angle="pr-ha"] .question-fields > .submit a {
	background: rgba(20,190,53,1);
	color: rgba(255,255,255,1);
	box-shadow: 0 0 0 2px rgba(0,190,53,0.25);
}
.intro[data-angle="pr-ha"] .intro-link:hover,
.intro[data-angle="pr-ha"] .question-fields > .submit button:hover,
.intro[data-angle="pr-ha"] .question-fields > .submit a:hover {
	box-shadow: 0 0 0 7px rgba(0,190,53,0.25);
}

.intro[data-angle="pr-ha"] .field .field-title,
.intro[data-angle="pr-ha"] .question-fields > .field.field--rules {
	color: rgba(0,0,0,1);
}
.intro[data-angle="pr-ha"] .question-fields > .field.field--rules a {
	color: rgba(20,190,53,1);
}
@media screen and (max-width: 991px) {
	.intro[data-angle="pr-ha"] .container {
		background-image: url("../img/pr-ha_m.png");
		background-size: auto 36vh;
		background-repeat: no-repeat;
		background-position: center 101%;
	}
	.intro[data-angle="pr-ha"][data-prepop="1"] .container {
		background-image: url("../img/pr-ha_m.png");
		background-size: auto 28vh;
		background-repeat: no-repeat;
		background-position: center 101%;
	}
}
/*@media screen and (max-width: 991px) and (min-height: 670px) {
	.intro[data-angle="pr-ha"] .container {}
	.intro[data-angle="pr-ha"][data-prepop="1"] .container {}
}*/

/*pr-ha*/

/*gt*/
.intro[data-angle="gt"] .container {
	background-color: rgba(38,28,36,1);
	background-image: url("../img/gt_d.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 80% bottom;
}
.intro[data-angle="gt"] .title {
	color: rgba(255,255,255,1);
}
.intro[data-angle="gt"] .title span {
	color: rgba(255,199,49,1);
}
.intro[data-angle="gt"] .bullet-item p {
	color: rgba(255,255,255,1);
}
.intro[data-angle="gt"] .bullet-item svg {
	fill: rgba(255,199,49,1);
}
.intro[data-angle="gt"] .intro-link,
.intro[data-angle="gt"] .question-fields > .submit button,
.intro[data-angle="gt"] .question-fields > .submit a {
	background: rgba(255,199,49,1);
	color: rgba(0,0,0,1);
	box-shadow: 0 0 0 2px rgba(255,199,49,0.25);
}
.intro[data-angle="gt"] .intro-link:hover,
.intro[data-angle="gt"] .question-fields > .submit button:hover,
.intro[data-angle="gt"] .question-fields > .submit a:hover {
	box-shadow: 0 0 0 7px rgba(255,199,49,0.25);
}

.intro[data-angle="gt"] .field .field-title,
.intro[data-angle="gt"] .question-fields > .field.field--rules {
	color: rgba(255,255,255,1);
}
.intro[data-angle="gt"] .question-fields > .field.field--rules a {
	color: rgba(255,199,49,1);
}
@media screen and (max-width: 991px) {
	.intro[data-angle="gt"] {
		background-image: url("../img/gt_m_overlay.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	.intro[data-angle="gt"] .container {
		background-color: transparent;
		background-image: url("../img/gt_m.png");
		background-size: auto 36vh;
		background-repeat: no-repeat;
		background-position: center 101%;
	}
	.intro[data-angle="gt"][data-prepop="1"] .container {
		background-color: transparent;
		background-image: url("../img/gt_m.png");
		background-size: auto 30vh;
		background-repeat: no-repeat;
		background-position: center 101%;
	}
}
/*@media screen and (max-width: 991px) and (min-height: 670px) {
	.intro[data-angle="gt"] .container {}
	.intro[data-angle="gt"][data-prepop="1"] .container {}
}*/
/*gt*/


/*button effect*/
/*light line*/
.intro .intro-link.ll:after {
	content: "";
    display: block;
    width: 1rem;
    height: 100%;
    background: rgba(255,255,255,1);
    opacity: .9;
    position: absolute;
    left: -100%;
    top: 0;
    z-index: 1;
    transform: rotate(45deg) scale(2);
    animation: 3s linear 0s infinite normal animation-blink;
}
@keyframes animation-blink {
    0% {
        left: -100%;
    }
    100%,
    20% {
        left: 100%;
        margin-left: 5rem;
    }
}