#about {
	background: var(--theme-secondary);
	color: var(--theme-white);
	position: relative;
}
#about .title {
	text-align: left;
}
#about * {
	position: relative;
	z-index: 2;
}
#about .content {
	font-size: calc(1rem + 2px);
}
#about .content > p:not(:last-child) {
	margin-bottom: calc(1 * var(--gap));
}
#about .stat {
	margin: 0 auto;
	margin-top: calc(2 * var(--gap));
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
#about .stat img {
	width: 67px;
	margin-bottom: calc(1 * var(--gap));
}
#about .stat h2 {
	font-weight: 600;
	color: var(--theme-white);
	margin-bottom: calc(0.5 * var(--gap));
}
@media screen and (max-width: 991px) {
	#about .content {
		font-size: 1rem;
	}
	#about .stat img {
		width: 54px;
	}
	#about:after {
		display: none;
	}
}