@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&amp;display=swap');

html {
	margin: 0;
}

body {
	margin: 0;
    font-family: 'Roboto', sans-serif !important;
}

.page-content {
    max-width: 1050px;
}



.started {

	position: -webkit-sticky;
    position: sticky;
    bottom: 0;
 background:#f12114;
}

.started button {
	cursor: pointer;
	display: block;
	color: #000000;
	background: #fff;
	font-family: 'Roboto Bold', sans-serif;
	width: 100%;
	font-size: 1.125rem;
	line-height: 28px;
	border: 3px solid #000000;
	padding: 10px 20px;
}

.started button:hover, .question button:hover {
	background: #f12114;
	color: #fff;
	border: 3px solid #fff;
}

.started a {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background: #f12114;
    color: #fff;
    line-height: 30px;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.125rem;
    font-family: 'Roboto', sans-serif;
}


.timer {
    overflow: hidden;
    max-height: 0;
    max-width: 1050px;
    background-color: #01289c;
	-webkit-transition: all 750ms cubic-bezier(0.4,0,0.2,1);
	-moz-transition: all 750ms cubic-bezier(0.4,0,0.2,1);
	transition: all 750ms cubic-bezier(0.4,0,0.2,1);
}

mark {
	color: white;
	font-weight: bold;
	margin: 0 -0em;
	padding: 0.1em 0.4em;
	border-radius: 0.25em;
	background: transparent;
	background-image: linear-gradient(
		to right,
		#004fd6,
		#004fd6 4%,
		#004fd6
	);
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}

input[type="radio"] {
    accent-color: #0062c4; 
    cursor: pointer;
}

.sticky-container1 {
    z-index: 999;
    position: sticky;
    top: 0;
}

.timer.shown {
    max-height: 150px;
}

.unaccepted-modal {
    max-width: 90%;
    background-color: white;
    border: 2px solid #0043b6;
    border-radius: 15px;
    padding: 13px 15px;
}

.unaccepted-modal-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #0043b6;
}

.unaccepted-modal-text {
    text-align: justify;
}

.timer-text {
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 8px 20px;
    font-size: 0.8rem;
}

.quiz-model {
	-webkit-transition: all 350ms cubic-bezier(0.4,0,0.2,1);
	-moz-transition: all 350ms cubic-bezier(0.4,0,0.2,1);
	transition: all 350ms cubic-bezier(0.4,0,0.2,1);
}

.quiz-question {
    color: #1f1f1f;
    font-weight: bold;
    text-align: left;
    font-size: 1.8rem;
}

.quiz-question-description {
    color: #6b6b6b;
    text-align: left;
    font-size: 1rem;
}

.question-counter {
    font-size: 1rem;
    font-weight: bold;
    color: #fec708;
}

.question-counter-number {
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 50px;
    font-size: 1.7rem;
    color: white;
	background-image: linear-gradient(
		to right,
		#004fd6,
		#004fd6 4%,
		#004fd6
	);
}

.header-content {
    background-color: #004dd1;
    width: 100%;
    padding: 13px 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.modal-overlay.show {
    opacity: 1;
    visibility: visible;
    display: flex;
}

.modal-content {
    background: white;
    padding: 30px 30px;
    border-radius: 8px;
    text-align: center;
    width: 90% !important;
    max-width: 950px !important;
    position: relative;
    transform: scale(0.8);
    transition: transform 0.5s;
}

.modal-overlay.show .modal-content {
    transform: scale(1);
}

.close-icon {
    position: absolute;
    top: 8px;
    right: 20px;
    font-size: 1.8rem;
    cursor: pointer;
}

.faq-question {
    border: 2px solid rgb(212, 212, 212);
    border-radius: 5px;
    padding: 10px;
}

.faq-modal-icon {
    color: #a8bcff; 
}

.faq-modal-icon:hover {
    color: white;
}

.faq {
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis; 
    font-weight: bold;
}

.faq-description {
    transition: height 0.3s ease;
}

.page {
    max-width: 620px;
    width: 90%;
    text-align: justify;
}

.page-title, .loading-title, .final-page-title {
	line-height: 35px;
	font-family: "Lalezar", system-ui;
	font-weight: 400;
	font-style: normal;
    color: #ac8101;
    text-align: left;
    font-size: 2rem;
}

.loading-subtitle {
	margin-top: 10px;
    color: #838383;
    text-align: left;
    font-size: 1rem;
}

.main-image {
    width: 95%;
    height: auto;
    max-width: 500px;
}

.sticky-container {
    padding-bottom: 40px;
    position: sticky;
    bottom: 0;
}

.start-quiz-button {
    width: 100%;
    border-radius: 15px;
	border: 2px solid white;
	background: linear-gradient(45deg, #0043b6, #0d66ff);
	box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.45);
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px 20px;
    cursor: pointer;
}

.quiz-answer {
    font-weight: bold;
    border-radius: 15px;
    width: 100%;
    margin-top: 26px;
	border: 2px solid #0043b6;
	background-color: transparent;
    color: #0043b6;
    padding: 10px 0px;
    font-size: 1.05rem;
    cursor: pointer;
}

.unaccepted-modal-button {
    width: 90%;
    border-radius: 15px;
	border: 2px solid white;
	background: linear-gradient(45deg, #0d66ff, #0043b6);
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px 20px;
    cursor: pointer;
}

.start-quiz-button:hover, .unaccepted-modal-button:hover {
    background: #0043b6;
    color: white;
}

.quiz-answer:hover {
    background: #0043b6;
    color: white;
}

.footer-divider {
    width: 100%;
    height: 1px;
    background-color: #d1d5db;
}

.links-image {
    width: 10%;
    max-width: 35px;
    height: auto;
}

.links-image-text {
    font-size: 1rem;
    font-weight: bold;
    color: #595959;
}

.links {
    font-size: 0.9rem;
    color: inherit !important;
    text-decoration: none !important;
}

.links:hover {
    font-weight: bold;
}

.trade-names {
    font-size: 0.75rem;
    color: rgb(151, 151, 151);
    width: 95%;
    max-width: 500px;
}

.footer-page-link {
    color: rgb(49, 49, 49);
    font-weight: bold !important;
    text-decoration: none !important;
}

.footer-page-link:hover {
    color: black;
}

.footer-content {
    font-size: 0.85rem;
}

.footer {
    width: 100%;
}

.small-intro-text {
    color: rgb(145, 145, 145);
    font-size: 0.75rem;
    margin-left: 15px;
    margin-top: 20px;
}

.page-text-small {
    font-size: 0.9rem;
}

.loading-container-text-col {
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
    font-size: 1.1rem;
    color: rgb(150, 150, 150);
}