.about {
	padding-top: 34px;
	padding-bottom: 19px;
	position: relative;
}
.about:after {
	content: "";
	position: absolute;
	display: block;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	height: 1px;
	background: var(--theme-gray-lighter);
}
.about:after {
	width: calc(100% - 30px);
}
@media (min-width: 576px) {
	.about:after {
	    max-width:540px
	}
}

@media (min-width: 768px) {
	.about:after {
	    max-width:720px
	}
}

@media (min-width: 992px) {
	.about:after {
	    max-width:960px
	}
}

@media (min-width: 1200px) {
	.about:after {
	    max-width:1280px
	}
}

.about .about-title > h2  {
	margin-bottom: 20px;
	line-height: 1;
	font-weight: 700;
}

.about-slider {
	width: 100%;
	display: flex;
	scroll-snap-type: x mandatory;
	overflow-x: auto;
	white-space: nowrap;
}
.about-slider .about-item {
	scroll-snap-align: start;
	scroll-snap-stop: always;
	flex-shrink: 0;
	position: relative;
}
.about-slider .about-item:after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.about-slider > .about-item:not(:last-child) {
	margin-right: 8px;
}
.about-slider .about-item img {
	width: 100%;
	width: 224px;
}

@media screen and (max-width: 991px) {
	.container-about-slider {
	    width: 100%;
	    max-width: 100%;
	    padding-right: 15px;
	    padding-left: 15px;
	    margin-right: auto;
	    margin-left: auto
	}
	.about-slider::-webkit-scrollbar {
	  width: 0;
	  height: 0;
	}
	.about-slider::-webkit-scrollbar-track {
	  background: transparent;
	}
	.about-slider::-webkit-scrollbar-thumb {
	  background: #transparent;
	}
}
@media screen and (max-width: 767px) {
	.container-about-slider {
		padding-left: 0;
		padding-right: 0;
	}
	.about-slider > .about-item img {
		margin-left: 15px;
		margin-right: -15px;
	}
	.about-slider > .about-item:last-child img{
		margin-right: 15px;
	}
	.about-slider .about-item img {
		width: 158px;
	}

}



.container-about-slider-icon {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-top: 19px;
}
.container-about-slider-icon img {
	margin-right: 10px;
	height: 24px;
	width: auto;
}
.container-about-slider-icon p {
	font-size: 13px;
	line-height: 1;
	color: #EBEBF5;
	opacity: 0.6;
}


.about-content {
	position: relative;
	padding-top: 19px;
	padding-bottom: 19px;
	z-index: 2;
	position: relative;
}
.about-content:after {
	content: "";
	position: absolute;
	display: block;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	height: 1px;
	background: var(--theme-gray-lighter);
}
.about-content:after {
	width: calc(100% - 30px);
}
@media (min-width: 576px) {
	.about-content:after {
	    max-width:540px
	}
}

@media (min-width: 768px) {
	.about-content:after {
	    max-width:720px
	}
}

@media (min-width: 992px) {
	.about-content:after {
	    max-width:960px
	}
}

@media (min-width: 1200px) {
	.about-content:after {
	    max-width:1280px
	}
}

.about-content > .container > p:not(:first-child) {
	margin-top: 15px;
}
.about-content > .container > p{
	line-height: 1.33;
}
.about-content > .container > p .more {
	display: none;
}
.about-content > .container > p:first-child {
 	display: inline-block;
 }

 @media screen and (max-width: 991px) {
	.about-content > .container > p{
		display: none;
	}
	.about-content > .container > p .more {
		display: inline-block;
	}
 }