:root {
	--dark: #101010;
	--black: #010101;
	--gray: #cccccc;
	--silver: #b7b6b6;
	--white: #fff;

	--primary: #ee1d52;
	--primary-dark: #cf0f3f;
    --primary-light: #fccad6;

	--secondary: #69c9d0;
	--secondary-dark: #0e7077;
	--secondary-light: #d5f8fb;

    --info: #0d93f9;
    --danger: #f95d45;
    --success: #03d06d;
}
html {
    font-size: 18px;
    line-height: 1.52;
}
body {
    font-family: 'Amazon Ember', sans-serif;
    font-size: inherit;
    font-weight: 400;
    background: var(--dark);
    color: var(--black);
    line-height: 1.52;
}
* {
    box-sizing: border-box;
}
img {
    width: 100%;
    max-width: 100%;
    display: block;
}
strong {
    font-weight: 700;
}
i {
    font-style: italic;
}
.container {
    width: calc(100% - 2rem);
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto
}
@media (min-width: 576px) {
    .container {
        max-width:540px
    }
}

@media (min-width: 768px) {
    .container {
        max-width:720px
    }
}

@media (min-width: 992px) {
    .container {
        max-width:960px
    }
}

@media (min-width: 1200px) {
    .container {
        max-width:1371px
    }
}

.row {
    margin-left: 0;
    margin-right: 0;
}
.row > * {
    padding-left: 0;
    padding-right: 0;
}

ul, li {
    list-style-type: none;
}

.primary {
    color: var(--primary);
}
.secondary {
    color: var(--secondary);
}
.info {
    color: var(--primary-dark);
}

.btn, .btn:active, .btn:hover, .btn.focus, .btn:focus {
    width: 100%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    border-radius: 0.375rem;
    border-width: 1;
    border-style: solid;
    border-color: var(--primary);
    padding: 0.25rem 1.25rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 1.2;
    min-height: 56px;
}
.btn p {
    margin-bottom: 0;
}


.btn-primary {
    --bs-btn-color: var(--white);
    --bs-btn-bg: var(--primary);
    --bs-btn-border-color: var(--primary);
    --bs-btn-hover-color: var(--white);
    --bs-btn-hover-bg: var(--primary-dark);
    --bs-btn-hover-border-color: var(--primary-dark);
    --bs-btn-focus-shadow-rgb: 238, 29, 82;
    --bs-btn-active-color: var(--white);
    --bs-btn-active-bg: var(--primary-dark);
    --bs-btn-active-border-color: var(--primary-dark);
    --bs-btn-active-shadow: 0;
    --bs-btn-disabled-color: var(--white);
    --bs-btn-disabled-bg: var(--primary);
    --bs-btn-disabled-border-color: var(--primary);
    box-shadow: 0 0 0 0 rgba(var(--bs-btn-focus-shadow-rgb), 0.25);

    border-width: 1;
    border-style: solid;
    border-color: var(--bs-btn-bg);
}
.btn-primary:hover , .btn-primary:focus , .btn-primary:active {
    box-shadow: 0 0 3px 6px rgba(var(--bs-btn-focus-shadow-rgb), 0.25);

    border-width: 1;
    border-style: solid;
    border-color: var(--bs-btn-bg);
}

.btn-black {
    --bs-btn-color: var(--white);
    --bs-btn-bg: var(--black);
    --bs-btn-border-color: var(--black);
    --bs-btn-hover-color: var(--white);
    --bs-btn-hover-bg: var(--black);
    --bs-btn-hover-border-color: var(--black);
    --bs-btn-focus-shadow-rgb: 21, 21, 21;
    --bs-btn-active-color: var(--white);
    --bs-btn-active-bg: var(--black);
    --bs-btn-active-border-color: var(--black);
    --bs-btn-active-shadow: 0;
    --bs-btn-disabled-color: var(--white);
    --bs-btn-disabled-bg: var(--black);
    --bs-btn-disabled-border-color: var(--black);
    box-shadow: 0 0 0 0 rgba(var(--bs-btn-focus-shadow-rgb), 0.25);

    border-width: 1;
    border-style: solid;
    border-color: var(--bs-btn-bg);
}
.btn-black:hover , .btn-black:focus , .btn-black:active  {
    box-shadow: 0 0 3px 5px rgba(var(--bs-btn-focus-shadow-rgb), 0.25);

    border-width: 1;
    border-style: solid;
    border-color: var(--bs-btn-bg);
}



.screen {
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    display: flex;
    flex-direction: column;
}
section {
	padding: 3rem 0
}
@media screen and (max-width: 991px) {
    section {
        padding: 1.75rem 0
    }
}
header {
    background: transparent;
}
header .container {
    padding: 10px 0 12px;
    background: var(--primary);
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}
header img {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    max-height: 35px;
}
@media screen and (max-width: 991px) {
    header img {
        max-height: 25px;
    }
}


.hero-section {
    flex-grow: 1;
    padding: 12vh 0;
}
.hero-section .form {
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-section label {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0.25rem;
    line-height: 1;
    color: var(--white);
}
.hero-section .form-group {
    margin-bottom: 1rem;
}
.hero-section .submit-form-step {
    margin-top: 1.5rem;
}
.hero-section .form .hero-section-title  {
    text-align: center;
}
.hero-section .form .hero-section-title h1 {
    font-weight: 500;
    line-height: 1.2;
    font-size: 42px;
    margin-bottom: 1rem;
    color: var(--white);
}
.hero-section .form .hero-section-title > p {
    margin-bottom: 1rem;
    color: var(--white);
}

.hero-section .form > .require-list {
    max-width: 400px;
    min-width: 360px;
    padding: 1rem;
    background: var(--secondary-light);
    border-radius: 0.375rem;
    margin-bottom: 1rem;
}
.hero-section .form > .require-list > li:not(:last-child) {
    margin-bottom: 0.4rem ;
}
.hero-section .form > .require-list li img {
    display: inline;
    transform: translateY(-2px);
    margin-right: 5px;
    min-width: 1.2rem;
    max-width: 1.2rem;
    width: 1.2rem;
    min-height: 1.2rem;
    max-height: 1.2rem;
    height: 1.2rem;
}
.hero-section .form > .require-list li p {
    margin-bottom: 0;
    display: inline;
}

.slug-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    font-style: italic;
    color: var(--silver);
}
.hero-section .form .slug-block .text {
    margin-bottom: 0;
}
.hero-section .form .slug-block .figure {
    margin:  0 0.5rem;
}

@media screen and (max-width: 991px) {
    .hero-section {
        padding: 1.75rem 0
    }
    .hero-section .form > .require-list {
        min-width: 339px;
    }
}
@media screen and (max-width: 500px) {
    .hero-section .form > .require-list {
        width: 100%;
    }
}

.hero-section .container {
    position: relative;
    z-index: 2;
}
.hero-section .mob-mb {
    position: absolute;
    display: none;
    z-index: 1;
    height: 175px;
}
.hero-section .mob-mb img {
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
}
@media screen and (max-width: 991px) {
    .hero-section .mob-mb {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        z-index: -1;
        bottom: -30px;
    }
    .survey .hero-section .mob-mb {
        bottom: 0px;
    }
    .hero-section .mob-mb img {
        width: 180px;
        transform: rotate(-45deg);
    }
}














/* end of hero-section section */


.about .container {
    background: var(--secondary-light);
    border-radius: 0.375rem;
    overflow: hidden;
}
.about .title .h1 {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0;
}
.about .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
}
.about .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 64px;
}
.about .content p {
    padding: 2rem 0;
    margin-bottom: 0;
}
.about .img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .btn {
    max-width: 325px;
    width: 100%;
}
.about .img img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1200px) {
    .about .content {
        padding: 48px;
    }
}
@media screen and (max-width: 991px) {
    .about .row {
        grid-template-columns: 1fr;
    }
    .about .content {
        order: 2;
        padding: 24px 16px;
    }
    .about .title .h1 {
        font-size: 24px;
    }
    .about .content p {
        padding: 24px 0;
        font-size: 16px;
    }
    .about .img {
        order: 1;
        aspect-ratio: 31/28;
        max-height: 500px;
    }
    .about .img img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .about .btn-group {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.btn-group {
    width: 100%;
}

.hiw-section .hiw-section-title {
    margin-bottom: 1.5rem;
    text-align: center;
}
.hiw-section .hiw-section-title h2 {
    white-space: nowrap;
    margin-bottom: 0;
    font-size: 62px;
    font-weight: 600;
    line-height: 1;
    color: var(--white);
}
.hiw-section .hiw-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
}
.hiw-section .hiw-list .list-item {
    background: var(--secondary-light);
    padding: 1.5rem;
    border-radius: 0.375rem;
}
.hiw-section .hiw-list .list-item figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin-bottom: 1rem;
    border-radius: 0.375rem;
}
.hiw-section .hiw-list .list-item img {
    max-width: 80px;
    max-height: 80px;
}
.hiw-section .hiw-list .list-item .title {
    margin-bottom: 0.5rem;
}
.hiw-section .hiw-list .list-item h5 {
    font-weight: 600;
    margin-bottom: 0;
    font-size: 21px;
}
.hiw-section .hiw-list .list-item p {
    font-size: 16px;
    margin-bottom: 0;
}

@media screen and (max-width: 991px) {
    .hiw-section .hiw-section-title {
        margin-bottom: 1rem;
    }
    .hiw-section .hiw-section-title h2 {
        font-size: 32px;
    }
    .hiw-section .hiw-list .list-item h5 {
        font-size: 1rem;
    }
    .hiw-section .hiw-list .list-item p {
        font-size: 14px;
    }
    .hiw-section .hiw-list {
        max-width: 450px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
    .hiw-section .hiw-list .list-item {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 1rem 0.75rem;
        flex-wrap: nowrap;
    }
    .hiw-section .hiw-list .list-item figure {
        margin-bottom: 0;
        margin-right: 0.75rem;
        width: 60px;
        min-width: 60px;
        max-width: 60px;
        height: 60px;
        min-height: 60px;
        max-height: 60px;
    }
    .hiw-section .hiw-list .list-item img {
        max-width: 60px;
        max-height: 60px;
    }
}




.faq-section .container {
    background: var(--secondary-light);
    border-radius: 0.375rem;
    padding: 1.5rem;
}
.faq-section .container .row .inner {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 1.5rem;
}
.faq-section .faq-section-title {
    grid-column: span 1;
}
.faq-section .faq-section-title h2 {
    margin-bottom: 0;
    font-size: 62px;
    font-weight: 600;
    line-height: 1.2;
}
.faq-section .faq-section-blocks {
    grid-column: span 2;
    display: grid;
    grid-gap: 1rem;
}
.faq-section .faq-section-item {
    border-radius: 0.375rem;
    border: 1px solid var(--secondary);
}
.faq-section .faq-section-item p {
    margin-bottom: 0;
    font-size: 14px;
}
.faq-section .faq-section-item .faq-section-item-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
}
.faq-section .faq-section-item .faq-section-item-title h6 {
    margin-right: auto;
    margin-bottom: 0;
    font-weight: 400;
}
.faq-section .faq-section-item .faq-section-item-title .figure {
    margin-left: 1rem;
    width: 1rem;
    min-width: 1rem;
    max-width: 1rem;
    height: 1rem;
    min-height: 1rem;
    max-height: 1rem;
}
.faq-section .faq-section-item .faq-section-item-title .figure img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
    object-position: center;
}
.faq-section .faq-section-item .faq-section-item-title .figure > img:nth-child(2) {
    display: none;
}
.faq-section .faq-section-item .faq-section-item-title .figure > img:nth-child(1) {
    display: block;
}
.faq-section .faq-section-item.active .faq-section-item-title .figure > img:nth-child(2) {
    display: block;
}
.faq-section .faq-section-item.active .faq-section-item-title .figure > img:nth-child(1) {
    display: none;
}
.faq-section .faq-section-item .faq-section-item-drop {
    padding: 0 1rem;
    transition: .3s;
    overflow: hidden;
    max-height: 0;
    font-size: 16
    px;
}
.faq-section .faq-section-item.active .faq-section-item-drop {
    padding: 0 1rem 1rem 1rem;
    max-height: 500px;
}


@media screen and (max-width: 991px) {
    .faq-section .container {
        padding: 1rem 1rem 2px;
    }
    .faq-section .container .row .inner {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
    .faq-section .faq-section-title {
        margin-right: 0;
        margin-bottom: 1rem;
        text-align: center;
        max-width: 100%;
    }
    .faq-section .faq-section-title h2 {
        font-size: 32px;
    }
    .faq-section .faq-section-item .faq-section-item-title {
        padding: 0.75rem;
    }
    .faq-section .faq-section-item .faq-section-item-title .figure {
        margin-left: 0.5rem;
    }
    .faq-section .faq-section-blocks {
        grid-gap: 2px;
    }
    .faq-section .faq-section-blocks .faq-section-item:last-child {
        border-bottom-left-radius: 0.375rem;
        border-bottom-right-radius: 0.375rem;
    }
    .faq-section .faq-section-blocks > .faq-section-item:last-child {
        border-bottom: 0px solid #fff;
    }    
    .faq-section .faq-section-item {
        border-radius: 0;
        width: calc(100% + 2rem);
        margin-left: -1rem;
        border-left: 0px solid #fff;
        border-right: 0px solid #fff;
    }
    .faq-section .faq-section-item .faq-section-item-drop {
        padding: 0 0.75rem;
    }
    .faq-section .faq-section-item.active .faq-section-item-drop {
        padding: 0 0.75rem 0.75rem 0.75rem;
    }
}


footer {
    margin-top: 3rem;
    background: var(--primary-light);
    font-size: 14px;
}
footer .logo img {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    max-height: 35px;
}
footer a {
    color: var(--primary) !important;
    text-decoration: none !important;
}
footer .container {
    padding: 3rem 0;
}
footer .description {
    margin-bottom: 2rem;
}
footer .description > * {
    margin-bottom: 0.5rem;
}
footer .description > *:last-child {
    margin-bottom: 0;
}
footer .container .row--middle .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer nav a {
    margin-left: 1rem;
}
footer .footer-bottom {
    background: var(--primary);
    color: var(--white);
    text-align: center;
    padding: 0.5rem 0;
    font-size: 14px;
}
footer .footer-bottom .container {
    padding: 0;
}
footer .footer-bottom * {
    margin-bottom: 0;
}

@media screen and (max-width: 991px) {
    footer .container  {
        padding: 1.75rem 0;
    }
    footer .logo img {
        max-height: 25px;
    }
    footer .description {
        margin-bottom: 1.25rem;
    }
}

@media screen and (max-width: 767px) {
    footer .container .row--middle .inner {
        flex-direction: column;
    }
    footer .logo {
        margin-bottom: 1rem;
    }
    footer nav {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    footer nav a {
        margin: 0 0.25rem;
    }
    footer nav a:not(:last-child) {
        margin-bottom: 0.5rem;
    }
   
}






input {
    font-size: 1rem;
    line-height: 1.2;
    min-height: 56px;
    border-radius: 0.5rem;
}

.btn-arrow {
    justify-content: space-between !important;
    align-items: center !important;
}
.form-step {
    min-width: 360px;
}
.form-step-2 ,
.form-step-3 {
    display: none;
}



.hero-section .quiz {
	display: none;
}
.hero-section .thx {
	padding: 4rem 0;
}
.hero-section .thx .thx-container {
	width: 100%;
	max-width: 360px;
	text-align: center;
    margin: 0 auto;
}
.hero-section .thx .thx-budge {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-section .thx .thx-title {
	margin-bottom: 1rem;
	margin-top: 1rem;
}
.hero-section .thx .thx-title h2 {
    font-size: 62px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 0;
}
.hero-section .thx .thx-text p {
    margin-bottom: 0;
    color: var(--white);
}

@media screen and (max-width: 991px) {
    .hero-section .thx .thx-title h2 {
        font-size: 2rem;
        line-height: 1.52;
    }
    .form-step {
        min-width: 339px;
    }
}


.progress-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto 1.5rem;
	width: 305px;
	transition: all 0.3s linear;
}
.progress-block .round {
	border-radius: 100px;
	aspect-ratio: 1/1;
	width: 48px;
	border: 2px solid var(--gray);
	margin: 0 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s linear;
}
.progress-block .round p {
    margin-bottom: 0;
	aspect-ratio: 1/1;
	width: 38px;
	border-radius: 1000px;
	background: rgba(0,0,0,0);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	line-height: 1;
	font-weight: 600;
	color:  var(--gray);
	transition: all 0.3s linear;
}
.progress-block .arrow {
	flex-grow: 1;
	height: 2px;
	background:  var(--gray);
	border-radius: 1000px;
	transition: all 0.3s linear;
}
.progress-block .round.passed {
	border: 2px solid var(--secondary-light);
}
.progress-block .round.passed p {
	color: var(--secondary-light);
}
.progress-block .round.active {
	border: 2px solid var(--secondary-light);
}
.progress-block .round.active p {
	color: var(--secondary-dark);
	background: var(--secondary-light);
}
.progress-block .round.passed + .arrow {
	background: var(--secondary-light);
}

.progress-block .round.checked {
	border: 2px solid var(--secondary);
}
.progress-block .round.checked p {
	color: var(--white);
	background: var(--secondary);
}
.progress-block .round.passed + .arrow.checked {
	background: var(--secondary);
}



.hero-section .quiz-step {
    display: none;
}
.hero-section .quiz-step .inner {
    display: flex;
    flex-direction: column;
}
.hero-section .quiz-step--1 {
    display: block;
}
.hero-section .quiz-step--4 {
    margin-top: -2.75rem;
    opacity: 0;
    transition: all 0.3s linear;
}
.hero-section .quiz-step--4.active {
    margin-top: 0rem;
    opacity: 1;
    margin-bottom: 50px;
}
.hero-section .quiz .quiz-container {
    width: 100%;
    max-width: 645px;
    text-align: center;
    margin: 0 auto;
}
.hero-section .answers {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}


/* .hero-section .answers > *:not(:last-child) {
    margin-bottom: 0.75rem;
} */
.hero-section .quiz-step-question {
    max-width: 360px;
    margin: 0 auto 1.5rem;
}
.hero-section .quiz-step-question h6 {
    margin-bottom: 0;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.52;
    color: var(--white);
}
.hero-section .quiz-step-back {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-section .quiz-step-back button {
	width: auto;
	padding-top: 0;
	padding-bottom: 0;
    margin-top: 1.5rem;
	border-radius: 1000px;
	border: 1px solid #b7b6b6;
    color: #b7b6b6;
	font-weight: 400;
	min-height: 40px;
}
.hero-section .quiz-step-back p {
    margin-left: 0.5rem;
    transform: translateY(1px);
}
.hero-section .data {
    display: block;
    margin-top: 1rem;
}
.hero-section .quiz-step--4 h2 {
    margin-bottom: 1rem;
    font-size: 30px;
    line-height: 1.35;
    color: var(--white);
}
.hero-section .tags p {
    display: inline-block;
    margin-bottom: 1rem;
    padding: 0.5rem 1.25rem;
    background: var(--primary-light);
    color: var(--primary-dark);
    border-radius: 1000px;
    font-weight: 600;
}
@media screen and (max-width: 991px) {
    .hero-section .answers,
    .hero-section .quiz-step-question {
        max-width: 339px;
    }
}
@media screen and (max-width: 550px) {
    .hero-section .quiz-step-back button {
        position: fixed;
        bottom: 1rem;
        left: 1rem;
        padding: 0;
        min-height: 2rem;
        min-width: 2rem;

    }
    .hero-section .quiz-step-back button p {
        display: none;
    }
    .hero-section .quiz-step--4 .quiz-step-question {
        display: flex;
        flex-direction: column;
    }
    .hero-section .quiz-step--4 .quiz-step-question .data {
        order: 1;
        margin-bottom: 1rem;
        margin-top: 0;
    }
    .hero-section .quiz-step--4 .quiz-step-question h2 {
        order: 2;
    }
    .hero-section .quiz-step--4 .quiz-step-question .slug-block {
        order: 3;
        margin-bottom: 0;
    }
}