#start {
	padding-top: 0;
	padding-bottom: 0;
}
#start .row {
	background: var(--theme-secondary);
	border-radius: 25px;
	flex-direction: column;
	position: relative;
	justify-content: center;
	align-items: center;
	padding: 120px 120px 30px 120px;
	color: var(--theme-white);
	overflow: hidden;
}
#start .figure  {
	position: absolute;
	width: 100%;
	max-width: 100% !important;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1;
}
#start .figure .left{
	position: absolute;
	width: auto;
	height: 100%;
	top: 0;
	left: 0;
}
#start .figure .right{
	position: absolute;
	width: auto;
	height: 100%;
	top: 0;
	right: 0;
}
#start .figure.figure--desktop {
	display: block;
}
#start .figure.figure--mobile {
	display: none;
}
#start * {
	position: relative;
	z-index: 2;
}
#start .title {
	margin-bottom: 80px;
}
#start .title h2 {
	margin-bottom: 10px;
	font-weight: 600;
}
#start .logos {
	margin-top: 60px;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
#start .logos > div {
	width: auto;
	margin: 0 10px;
}
#start .logos img {
	max-width: 100%
}
#start .start-subscribe {
	margin-top: auto;
	margin-bottom: auto;
}

@media screen and (max-width: 991px) {
	#start .row {
		border-radius: 0;
		padding: 50px 15px 30px 15px;
	}
	#start .title {
		margin-bottom: 40px;
	}
	#start .figure.figure--desktop {
		display: none;
	}
	#start .figure.figure--mobile {
		display: block;
	}
	#start .row > *{
		max-width: 300px
	}
	#start .row .logos {
		max-width: 3750px;
	}
	#start .title p {
		font-weight: 300;
	}
	#start .logos {
	    margin-top: 130px;
	}
	#start .figure .left{
		position: absolute;
		width: auto;
		height: 60%;
		top: 20%;
		left: 0;
	}
	#start .figure .right{
		position: absolute;
		width: auto;
		height: 68%;
		top: 32%;
		right: 0;
	}
}