html {
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}
body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(243.18deg, #181C3A 0%, #602995 100%);
}
body * {
font-family: "Poppins", sans-serif;
}
.screen {
    margin-left: auto;
    margin-right: auto;
    max-width: 550px;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 991px) {
.screen {
   background-size: cover;
}
}
body {
    font-weight: 400;
}
body * {
    font-weight: 400;
}
.text-white {
    color: #fff;
}
.header {
    margin: 2rem 0 1rem;
}
.header p {
    margin-bottom: 1rem;
    /* font-size: calc(1rem - 2px); */
}
.text-bold {
    font-weight: 700;
}
.text-shadow {
   text-shadow: -2px 0 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000;
}
.container {
    width: 550px;
    max-width: calc(100% - 2rem);
    padding-left: 0;
    padding-right: 0;
}

footer {
    padding: 0.5rem 0;
    background: #242424;
}
footer a {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.step {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: none;
}
.step-1 {
    display: block;
}
.step-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}
.step .item {
    cursor: pointer;
    background: #C992FF;
    aspect-ratio: 132/172;
    position: relative;
    border: 1px solid #C992FF;
    border-radius: 16px;
    overflow: hidden;
}
.step .item img {
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    left: -2px;
    top: -2px;
    object-fit: cover;
    z-index: 1;
}
.step .item .overlay {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    z-index: 2;
    opacity: 0;
    transition: all 0.3s linear;
}
.step .item.visible .overlay {
    opacity: 1;
}
.step .item.success .overlay {
    background-image: url("../img/success.webp");
}
.step .item.fail .overlay {
    background-image: url("../img/fail.webp");
}

.popup {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    z-index: 1000;
    backdrop-filter: blur(5px);
}
.popup-container {
    width: 550px;
    max-width: calc(100% - 2rem);
    background: #fff;
    border-radius: 16px;
    min-height: 100px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 2rem 1rem;
}
.popup-2 .popup-container {
    padding: 0.75rem 0.75rem 2rem;
}
.popup-container h4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.popup-container img {
    width: 80px;
    aspect-ratio: 1/1;
    border-radius: 1000px;
    object-fit: cover;
    object-position: center;
}
.popup-container .img-match {
    aspect-ratio: 132/172;
    border-radius: 0;
    width: 100%;
    max-width: 220px;
    border-radius: 16px;
    border: 1px solid #C992FF;
}
@media screen and (min-width: 414px) {
    .popup-container .img-match {
        aspect-ratio: 132/172;
        width: 100%;
        max-width: 310px;
    }
}

@media screen and (max-width: 414px) {
    .h4, h4 {
        font-size: calc(1.25rem);
    }
}



.btn-group {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#confetti {
    z-index: 10000;
    position: relative;
}


.roll {
display: inline-block;
font-family: "Poppins", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.4;
background: #4433EE;
padding: 5px 10px 3px;
border-radius: 24px;
}


.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #DF0055;
    --bs-btn-border-color: #DF0055;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #DF0055;
    --bs-btn-hover-border-color: #DF0055;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #DF0055;
    --bs-btn-active-border-color: #DF0055;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #DF0055;
    --bs-btn-disabled-border-color: #DF0055;
    padding: 0.75rem 1rem;
    border-radius: 16px;
}



.background_animated {
    -webkit-animation: animatedBackground 750s linear infinite;
    animation: animatedBackground 750s linear infinite;
    background-size: contain;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    height: 100%;
}

.background {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url("../img/bg.webp");
}
body > * {
    position: relative;
    z-index: 2;
}
@media screen and (max-width: 991px) {
    .background {
        background-size: cover;
    }
}

@-webkit-keyframes animatedBackground {
    0% {
        background-position: 14000px 0;
    }
    to {
        background-position: 0 0;
    }
}
@keyframes animatedBackground {
    0% {
        background-position: 14000px 0;
    }
    to {
        background-position: 0 0;
    }
}