:root {
    --black: #151515;
    --primary: #00D54B;
    --secondary: #3897F0;
    --secondary-dark: #0F66B7;
    --lime: #E7FFC8;
    --lime-dark: #364325;
    --danger: #f22;
    --brown: #2D1F09;
}

* {
    outline: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;

    @media screen and (max-width: 991px) {
        font-size: 18px;
    }
}

body {
    line-height: 1.4;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--black);

    & * {
        font: inherit;
        line-height: inherit;
    }
}

.container {
    width: 100%;
    max-width: calc(100% - 32px);
    margin: 0 auto;
}

.screen {
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    display: flex;
    flex-direction: column;
}

.primary {
    color: var(--primary);
}

strong {
    font-weight: 700;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 36px;
    font-weight: 400;
    line-height: 46px;

    @media screen and (max-width: 991px) {
        font-size: 32px;
        font-weight: 400;
        line-height: 40px;
    }
}
h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;

    @media screen and (max-width: 991px) {
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
    }
}
h4 {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;

    @media screen and (max-width: 1200px) {
        font-size: 26px;
        line-height: 32px;
    }

    @media screen and (max-width: 991px) {
        font-size: 24px;
        line-height: 32px;
    }
}
h5 {
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;

    @media screen and (max-width: 991px) {
        font-size: 16px;
        line-height: 24px;
    }
}

.btn {
    max-width: 426px;
    width: calc(100% - 92px);
    height: 56px;
    padding: 16px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background: var(--secondary);
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.24em;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    margin-top: 17px;
    margin-bottom: 17px;

    @media screen and (max-width: 991px) {
        width: calc(100% - 32px);
    }

    &:after {
        content: "";
        display: block;
        position: absolute; 
        left: -17px;
        top: -17px;
        width: calc(100% + 32px);
        height: calc(100% + 32px);
        border: 1px solid var(--secondary);
        border-radius: 24px;
        transition: 0.3s;
        opacity: 1;
        pointer-events: none;
    }

    &:hover {
        background: var(--secondary-dark);
        transition: 0.3s;

        &:after {
            opacity: 0;
            left: 0px;
            top: 0px;
            width: calc(100%);
            height: calc(100%);
            border: 1px solid var(--secondary-dark);
            border-radius: 16px;
        }
    }
}

.form-control {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 140px 6px 14px;
    border-radius: 5px;
    border: 1px solid var(--secondary);
    color: var(--black);
    transition: 0.3s;
    font-size: 16px;
    font-weight: 400;

    &::placeholder {
        color: var(--black);
    }

    &.error {
        border: 1px solid var(--danger);
        color: var(--danger);
    }
}
label {
    margin-bottom: 7px;
}

header {
    padding: 20px 0;

    & .container {
        display: flex;
        justify-content: center;
        align-items: center;

        & .logo img {
            max-width: 197.77px;

            @media screen and (max-width: 991px) {
                max-width: 124px;
            }
        }
    }

    @media screen and (max-width: 991px) {
        padding: 10px 0;
    }
}

.hero {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* background: #f00; */
    position: relative;

    &:before {
        content: "";
        display: block;
        position: absolute;
        width: 387.3px;
        height: 395.5px;
        top: 50%;
        left: calc(50% - 259px);
        transform: translate3d(-100% , -50% , 0);
        background-image: url(../img/hero-left.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 1;
    }
    @media screen and (max-width: 1200px) {
        &:before {
            display: none;
        }
    }
    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 411px;
        height: 689.67px;
        bottom: 0;
        right: 0;
        background-image: url(../img/hero-right.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right bottom;
        z-index: 1;
    }
    @media screen and (max-width: 1200px) {
        &:after {
            display: none;
        }
    }

    & .container {
        width: 518px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background: #f0f; */
        flex-grow: 1;
        position: relative;
        z-index: 2;

        & .mob-logos {
            display: none;
            margin: 30px 0;
            max-height: 160px;
            overflow: hidden;
            transition: 0.3s;

            &.fadeout {
                opacity: 0;
            }

            &.hidden {
                max-height: 0px;
                margin: 0;
            }

            & img {
               max-width: 100%;
            }

            @media screen and (max-width: 991px) {
                width: calc(100% + 32px);
                margin-left: -16px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        & .slide {
            min-height: 285px;
            /* background: #f0f; */
            @media screen and (max-width: 991px) {
                min-height: initial;
            }
            &.slide--2 {
                display: none;
                & h5 {
                    max-width: 240px;
                    margin: 0 auto 10px;
                    @media screen and (max-width: 991px) {
                        max-width: 100%;
                        margin: 0 auto 30px;
                    }
                }
            }
        }

        & .form {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-items: flex-start;
            max-width: 300px;
            /* background: #f0f; */
            margin: 0 auto;
        }

        & .inner-container--top {
            /* background: #0f0; */
            margin-top: auto;

            @media screen and (max-width: 991px) {
                margin-top: 0;
                margin-bottom: auto;
            }
        }

        & .title {
            margin-bottom: 30px;
            transition: 0.3s;
        }

        & .bullets {
            text-align: left;
            max-width: 270px;
            margin: 0 auto;

            & .bullet {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                & img {
                    margin-right: 5px;
                }
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }

        & .button-container {
            margin-bottom: 30px;
            margin-top: 30px;
            display: flex;
            justify-content: center;
            align-items: center;

            @media screen and (max-width: 991px) {
                margin-bottom: 0;
            }
        }

        & .img-logos {
            width: 100%;
            /* background: #0f0; */
            margin-top: auto;
            margin-bottom: 30px;
            display: flex;
            justify-content: center;
            align-items: center;

            @media screen and (max-width: 991px) {
                display: none;
            }


            & img {
                max-width: 100%;
            }
        }
    }
}
/* end of hero section */


.quick-start {
    background: var(--lime);
    color: var(--lime-dark);
    padding: 80px 0;
    text-align: center;
    position: relative;

    @media screen and (max-width: 991px) {
        padding: 40px 0;
    }
    
    & .container {
        width: 713px;

        & .logo {
            width: 99px;
            margin: 0 auto 25px;
            display: none;

            @media screen and (max-width: 1200px) {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            & img {
                max-width: 100%;
            }
        }

        & .title {
            margin-bottom: 30px;
        }

        & .content {
            & p {
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
                @media screen and (max-width: 991px) {
                    text-align: left;
                }
            }
        }
 
        & .button-container {
            margin-top: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
    
            @media screen and (max-width: 991px) {
                margin-bottom: 0;
            }
        }
    }

    & .before {
        position: absolute; 
        top: 50%;
        left: 0;
        width: 320px;
        transform: translateY(-50%);

        & img {
            max-width: 100%;
            height: auto;
        }

        @media screen and (max-width: 1200px) {
            display: none;
        }
    }
    & .after {
        position: absolute; 
        top: 50%;
        right: 0;
        width: 180px;
        transform: translateY(-50%);

        & img {
            max-width: 100%;
            height: auto;
        }

        @media screen and (max-width: 1200px) {
            display: none;
        }
    } 
} 
/* end of quick-start section */



.how-it-works {
    color: var(--brown);
    padding: 80px 0;
    text-align: center;

    @media screen and (max-width: 991px) {
        padding: 40px 0;
    }

    & .container {
        width: 1240px;
        & .title {
            margin-bottom: 30px;
        }

        & .cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px;

            @media screen and (max-width: 991px) {
                grid-template-columns: repeat(1, 1fr);
            }

            & .card {
                & .img {
                    max-width: 100%;
                    margin: 0 auto 15px;
                    height: 232.14px;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;

                    @media screen and (max-width: 991px) {
                        height: 137.54px;
                    }

                    & img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }

                & h4 {
                    margin-bottom: 10px;
                }
                & p {
                    max-width: 360px;
                    margin: 0 auto;
                }
            }
        }
    }
}
/* end of how-it-works section */

.about {
    background: var(--lime);
    color: var(--lime-dark);
    padding: 80px 0;
    position: relative;

    @media screen and (max-width: 991px) {
        padding: 40px 0;
    }

    & .container {
        width: 1140px;

        @media screen and (max-width: 1200px) {
            width: 713px;
        }

        & .row {
            display: flex;
            justify-content: space-between;
            align-items: stretch;

            @media screen and (max-width: 1200px) {
                flex-direction: column;
            }

            & .img {
                width: 50%;
                margin-right: 15px;
                padding: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;

                @media screen and (max-width: 1200px) {
                    width: 100%;
                    padding: 0;
                    margin-right: 0;
                    margin-bottom: 30px;
                }

                & img {
                    position: relative;
                    z-index: 2;
                    border-radius: 32px;
                    max-width: 100%;

                    &.desk-img {
                        display: block;
                    }
                    &.mob-img {
                        display: none;
                        border-radius: 0;
                    }

                    @media screen and (max-width: 1200px) {
                        &.desk-img {
                            display: none;
                        }
                        &.mob-img {
                            display: block;
                        }
                    }
                }

                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0%;
                    width: 100%;
                    height: 100%;
                    background-size: contain;
                    background-position: center;
                    background-image: url("../img/about-before-image.png");
                    background-repeat: no-repeat;
                    z-index: 1;
                }
                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0%;
                    width: 100%;
                    height: 100%;
                    background-size: contain;
                    background-position: center;
                    background-image: url("../img/about-after-image.png");
                    background-repeat: no-repeat;
                    z-index: 1;
                }
            }

            & .content {
                width: 50%;
                margin-left: 15px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                @media screen and (max-width: 1200px) {
                    width: 100%;
                    margin-left: 0;
                }

                & .title {
                    margin-bottom: 30px;

                    @media screen and (max-width: 1200px) {
                        display: none;
                    }
                }

                & .text {
                    margin-bottom: 30px;

                    & p:not(:last-child) {
                        margin-bottom: 20px;
                    }
                }

                & .button-contaioner {
                    width: 100%;
                    padding-left: 17px;

                    @media screen and (max-width: 1200px) {
                        padding-left: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}
/* end of about section */

footer {
    background: var(--secondary);
    color: #fff;
    text-align: center;

    & .container {
        width: 1052px;
        & > .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            display: none;

            @media screen and (max-width: 991px) {
                display: block;
            }
        }
    }

    & a {
        color: var(--theme-white);
        text-decoration: none !important;
        font-size: 16px;
        &:hover {
            color: var(--theme-black);
        }
    }

    & .logo img {
        max-width: 197.77px;

        @media screen and (max-width: 991px) {
            max-width: 124px;
        }
    }

    & .footer-top {
        background: var(--theme-secondary);
        padding: 40px 0;

        & ul {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 30px;
            @media screen and (max-width: 991px) {
                margin-right: 0;
            }

            & li:not(:last-child) {
                margin-right: 40px;
                @media screen and (max-width: 991px) {
                    margin-right: 0px;
                    margin-bottom: 10px;
                }
            }

            @media screen and (max-width: 991px) {
                margin-left: 0;
                flex-direction: column;
            }
        }

        & .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            @media screen and (max-width: 991px) {
                justify-content: center;
                flex-direction: column;
            }

            & .logo {
                @media screen and (max-width: 991px) {
                    display: none;
                }
            }
        }


    }

    & .footer-bottom {
        background: var(--secondary-dark);
        padding: 10px 0;
        text-align: center;

        & .row {
            display: flex;
            justify-content: center;
            align-items: center;

            & p {
                font-size: 16px;
            }
        }
    }

    & .row-text {
        font-size: 11px;
        font-style: italic;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        margin-bottom: 40px;
    }
}